@using ArenaFifa20.NET.Models
@model ScorerViewModel
@{
    ViewBag.Title = "Moderator Menu - Scorers";
    string scorerType = Model.scorerType;
    if (scorerType=="PRO") { scorerType = "PRO CLUB"; }
}


<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:20px">
    <div class="gentelella-page-title">
        <div class="gentelella-title">
            <h3>CADASTRO DE ARTILHEIROS - @scorerType</h3>
        </div>
    </div>
    <br>
    @using (Html.BeginForm("Details", "Moderator", FormMethod.Post, new { @class = "form-horizontal", id = "registration-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id="actionForm" name="actionForm" />
        <input type="hidden" id="selectedID" name="selectedID" />
        <input type="hidden" id="scorerType" name="scorerType" value="@Model.scorerType" />
        <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
            <div class="gentelella-x_panel">
                <div class="gentelella-x_content">


                    <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
                        <div class="gentelella-x_panel">
                            <div class="gentelella-x_content">

                                <div class="gentelella-col-md-10 gentelella-col-sm-10 gentelella-col-xs-12">
                                    <button type="button" class="gentelella-btn gentelella-btn-round gentelella-btn-success" onClick="JAVASCRIPT: submeteModerator('ScorerDetails', 'ADD');">Incluir Novo Item de Cadastro</button>
                                </div>
                                <div id="waiting" class="gentelella-col-md-2 gentelella-col-sm-2 gentelella-col-xs-12 gentelella-a-center">
                                    Aguarde o processamento...<br />
                                    <img width="70" heigh="70" src="/Arena20/images/aguarde.gif" />
                                </div>
                                <br><br>

                                <table id="datatable-responsive" class="gentelella-table gentelella-table-striped gentelella-table-bordered gentelella-dt-responsive gentelella-nowrap" cellspacing="0" width="100%">
                                    <thead style="background-color:#2C3E4F;color:white">
                                        <tr>
                                            <th width="8%" class="gentelella-a-center">ID</th>
                                            <th width="20%">Nome Abreviado</th>
                                            <th width="34%">Nome Completo</th>
                                            <th width="30%">Nome do Time</th>
                                            <th width="8%" class="gentelella-a-center">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.listOfScorer.Count > 0)
                                        {
                                            foreach (var item in Model.listOfScorer)
                                            {
                                                <tr>
                                                    <td class="gentelella-a-right">@item.id</td>
                                                    <td>@item.nickname</td>
                                                    <td>@item.name</td>
                                                    @if (scorerType == "H2H")
                                                    {
                                                        <td>@(item.teamName + " - " + item.teamType)</td> }
                                                    else
                                                    {
                                                        <td>@item.teamName</td>}
                                                    <td class="gentelella-a-center">
                                                        <a href="JAVASCRIPT: submeteModerator('ScorerDetails', 'VIEW', '@item.id');" title="Visualizar dados do item de cadastro." class="gentelella-btn gentelella-btn-primary gentelella-btn-xs"><i class="gentelella-fa gentelella-fa-folder gentelella-fa-1-2x"></i></a>
                                                        <a href="JAVASCRIPT: submeteModerator('ScorerDetails', 'EDIT', '@item.id');" title="Alterar dados do item de cadastro." class="gentelella-btn gentelella-btn-info gentelella-btn-xs"><i class="gentelella-fa gentelella-fa-edit gentelella-fa-1-2x"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr><td colspan="6">Não há registros para serem exibidos.</td></tr>
                                        }
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    }
</div>
<!-- /page content -->


<div id="includedContentQuestionDelete"></div>
<div id="includedContentResultMessage"></div>
<div id="includedContentMessageGeneral"></div>

@section Scripts {
    <script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
        });

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            if ('@TempData["actionSuccessfully"]' != '')
                toastr.success('@TempData["actionSuccessfully"].');

            if (detectMobileDevice() == 0)
                activeSidebarMenu(window.location.pathname);

            if ('@Model.listOfScorer.Count' != 0) {
                setOrderingDatatableResponsive([1, 'asc'], [3, 'asc'], null)
            }
            $("#waiting").hide();
        });

    </script>
}

