@using ArenaFifa20.NET.Models
@model ModeratorSummaryViewModel
@{
    ViewBag.Title = "Moderator Menu - Summary";
}


<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:50px">
    <div class="gentelella-page-title">
        <div class="gentelella-col-md-12 gentelella-col-sm-6 gentelella-col-xs-12">
            <h3>MENU MODERADOR - PAINEL</h3>
        </div>
        <div class="gentelella-title_right">
            <div class="gentelella-col-md-5 gentelella-col-sm-5 gentelella-col-xs-12 gentelella-form-group gentelella-pull-right gentelella-top_search">
                <div class="gentelella-input-group">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>

    <div class="gentelella-x_content">

        <div class="gentelella-row gentelella-top_tiles">
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12" style="width:400px">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                    <div class="gentelella-count">@Model.totalActiveCoaches</div>
                    <h3>Técnicos Ativos</h3>
                    <p>Total de técnicos ativos no cadastro.</p>
                </div>
            </div>
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12" style="width:400px">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                    <div class="gentelella-count">@Model.totalSeasonCoaches</div>
                    <h3>Técnicos na Temporada</h3>
                    <p>Total geral de técnicos participando da atual temporada.</p>
                </div>
            </div>
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12" style="width:400px">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                    <div class="gentelella-count">@Model.currentStageNameH2H</div>
                    <h3>Séries do H2H</h3>
                    <p>Fase atual das Séries A, B e C do H2H.</p>
                </div>
            </div>
        </div>
        <br><br>
        <div class="gentelella-row gentelella-top_tiles">
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12" style="width:400px">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                    <div class="gentelella-count">H2H</div>
                    <h3>@Model.seasonNameH2H</h3>
                    <p>Temporada atual do H2H (X1).</p>
                </div>
            </div>
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12" style="width:400px">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                    <div class="gentelella-count">FUT</div>
                    <h3>@Model.seasonNameFUT</h3>
                    <p>Temporada atual do FUT (Ultimate Team).</p>
                </div>
            </div>
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12" style="width:400px">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                    <div class="gentelella-count">PRO CLUB</div>
                    <h3>@Model.seasonNamePRO</h3>
                    <p>Temporada atual do PRO CLUB.</p>
                </div>
            </div>
        </div>
        <br><br>


    </div>
</div>
<!-- /page content -->
@section Scripts {
    <script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
        });

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

        });

    </script>
}

