@using ArenaFifa20.NET.Models
@model TeamDetailsModel
@{
    ViewBag.Title = "Moderator Menu - Team Details";
    string actionBack = "Team";
}


<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:20px">
    <div class="gentelella-page-title">
        <div class="gentelella-title">
            <h3>CADASTRO DE TIME - @Model.actionUser</h3>
        </div>
    </div>
    <br>

    <div class="gentelella-col-md-14 gentelella-col-sm-14 gentelella-col-xs-14" style="background-color:#F7F7F7">
        <div class="gentelella-x_panel">
            <div class="gentelella-x_content">

                @Html.Partial("_MessageValidate")

                <form id="comeback-form" action=""></form>

                <form action="/Arena20/Moderator/TeamDetails" class="form-horizontal" id="registration-form" method="post" role="form" data-parsley-validate>


                    @Html.AntiForgeryToken()
                    <input type="hidden" id="actionForm" name="actionForm" value="SAVE" />
                    <input type="hidden" id="selectedID" name="selectedID" value="@Model.id" />
                    <p>
                        <code style="background-color:#fff">Todos os campos com (*) são de preenchimento obrigatório.</code>
                    </p>
                    <br />
                    <div id="divIDRow" class="gentelella-row ">
                        <div class="gentelella-col-md-1 gentelella-col-sm-12 gentelella-col-xs-12">
                            <label for="idSofifa">ID :</label>
                            <input type="text" id="txtId" name="txtId" size="1000" class="gentelella-form-control" data-parsley-type="integer" value="@Model.id" />
                        </div>
                    </div>
                    <br>
                    <div class="gentelella-row ">
                        <div class="gentelella-col-md-5 gentelella-col-sm-12 gentelella-col-xs-12">
                            <label for="nome">Nome <i style="color:red">*</i> :</label>
                            <input type="text" id="txtNome" class="gentelella-form-control" name="txtNome" data-parsley-maxlength="50" required value="@Model.name" />
                        </div>
                        <div class="gentelella-col-md-3 gentelella-col-sm-3 gentelella-col-xs-12">
                            <label class="gentelella-control-label" for="tipo">Tipo<i style="color:red">*</i> :</label>
                            <select id="cmbTipo" name="cmbTipo" class="gentelella-form-control" required>
                                <option value="">Selecione..</option>
                                @foreach (var item in Model.listOfType)
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="gentelella-row">
                        <div class="gentelella-col-md-6 gentelella-col-sm-6 gentelella-col-xs-12">
                            <label for="url">Url<i id="starURL" style="color:red">*</i>:</label>
                            <input type="text" id="txtUrl" class="gentelella-form-control" name="txtUrl" data-parsley-maxlength="200" data-parsley-type="url" value="@Model.teamSofifaURL" />
                        </div>
                        <div class="gentelella-col-md-2 gentelella-col-sm-2 gentelella-col-xs-12">
                            <label for="idSofifa">ID Sofifa<i id="starSofifaID" style="color:red">*</i>:</label>
                            <input type="text" id="txtIdSofifa" class="gentelella-form-control" min="0" max="999999999" name="txtIdSofifa" data-parsley-type="integer" value="@Model.teamSofifaID" />
                        </div>
                    </div>
                    <br>
                    <div class="gentelella-row">
                        <div class="gentelella-row">
                            <div class="gentelella-col-md-6 gentelella-col-sm-6 gentelella-col-xs-12">
                                <br>
                                <label class="gentelella-control-label" for="tecnico">Técnico FUT ou Manager PRO CLUB<i id="starCoach" style="color:red">*</i> :</label>
                                <select id="cmbTecnico" name="cmbTecnico" class="gentelella-form-control">
                                    <option value="">Selecione..</option>
                                    @if (Model.actionUser == "VIEW")
                                    {
                                        <option value="@Model.listOfUser[0].id">@Model.listOfUser[0].name</option>
                                    }
                                    else
                                    {
                                        foreach (var item in Model.listOfUser)
                                        {
                                            <option value="@item.id">@(item.name + " (" + item.psnID + ")")</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="rowImage" class="gentelella-row">
                        <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
                            <label for="idSofifa">Logo:</label><br>
                            <img width="60" height="60" src="@Model.pathLogo">
                        </div>
                    </div>
                    <br>

                    <div class="gentelella-form-group gentelella-a-right">
                        <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
                            <br>
                            <div class="gentelella-ln_solid"></div>
                            <input type="button" class="gentelella-btn gentelella-btn-primary" onClick="JAVASCRIPT: submeteModerator('@actionBack', 'VOLTAR', '');" value="Voltar" />
                            <input type="submit" class="gentelella-btn gentelella-btn-success" value="Salvar Dados" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@section Scripts {
<script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
        });

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            $("#cmbTecnico").find("option[value='@Model.userID']").attr("selected", "true");
            $("#cmbTipo").find("option[value='@Model.typeModeID']").attr("selected", "true");

            activateRegistrationForm("TeamDetails", '@Model.actionUser');

            if (detectMobileDevice() == 0)
                activeSidebarMenu(window.location.pathname.replace("Details", ""));

            if ('@Model.actionUser' != 'VIEW') {
                $("#txtId").addClass("disabled");
                $("#txtId").attr("disabled", "true");
            }

            if ('@Model.actionUser' == 'ADD') {
                $("#rowImage").hide();
                $("#divIDRow").hide();
            }

            if ($("#selectedID").val() == "") { $("#selectedID").val("0"); }

        });
</script>
}

