@using ArenaFifa20.NET.Models
@model CurrentSeasonSummaryViewModel
@{
    ViewBag.Title = "Current Season - Forecast Playoff Game";
    int cont = 1;
}

<form action="" class="form-horizontal" id="registration-form" method="post" role="form">

    @Html.AntiForgeryToken()
    <input type="hidden" id="actionForm" name="actionForm" value="" />
    <input type="hidden" id="actionType" name="actionType" value="" />
    <input type="hidden" id="currentModeTypeSeason" name="currentModeTypeSeason" value="" />
    <input type="hidden" id="championshipID" name="championshipID" value="" />
</form>

<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:50px">
    <div class="gentelella-page-title">
        <div class="gentelella-col-md-9 gentelella-col-sm-9 gentelella-col-xs-12">
            <h3>@("PRÉVIA DOS CLASSIFICADOS À SEGUNDA FASE - " + Model.menuCurrentSeason.currentChampionshipName)</h3>
        </div>
        <div class="gentelella-col-md-3 gentelella-col-sm-3 gentelella-a-right gentelella-col-xs-12">
            <img title="@Model.menuCurrentSeason.currentChampionshipName" src="@("/images/championship-logo/" + Model.menuCurrentSeason.currentChampionshipName.Replace(" ", "_") + ".jpg")" width="50" />
            &nbsp;&nbsp;
            <img title="COMPETIÇÕES DA MODALIDADE @Model.menuCurrentSeason.modeType" src="/Arena20/images/@("logo-" + Model.menuCurrentSeason.modeType + "-beige.jpg")" width="60" />
        </div>
    </div>
    <br><br>

    <div class="gentelella-x_content">

        <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
            <div class="gentelella-x_panel">
                <div class="gentelella-x_content">

                    <table id="datatable-responsive-list" class="display gentelella-table gentelella-table-striped gentelella-table-bordered gentelella-dt-responsive gentelella-nowrap" cellspacing="0" width="100%">
                        <thead style="background-color:#2C3E4F;color:white">
                            <tr>
                                <th width="5%" class="gentelella-a-center">#</th>
                                <th width="5%" class="gentelella-a-center">Pts.</th>
                                <th width="5%" class="gentelella-a-center">Jogos</th>
                                @if (ViewBag.inCurrentSeasonType == "PRO")
                                {
                                    <th width="30%" class="gentelella-a-center">Clube</th>
                                    <th width="35%" class="gentelella-a-center">Nome do Manager</th>
                                }
                                else
                                {
                                    <th width="30%" class="gentelella-a-center">Time</th>
                                    <th width="35%" class="gentelella-a-center">Nome do Técnico</th>
                                }
                                <th width="20%" class="gentelella-a-center">PSN ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listOfForecastTeamQualified)
                            {
                                <tr>
                                    <td class="gentelella-a-center" style="vertical-align:middle">
                                        @cont.ToString("00")
                                    </td>
                                    <td class="gentelella-a-center" style="vertical-align:middle">
                                        @item.totalPoint
                                    </td>
                                    <td class="gentelella-a-center" style="vertical-align:middle">
                                        @item.totalPlayed
                                    </td>
                                    <td class="gentelella-a-center">
                                        <img src="/Arena20/images/team-logo/@(item.teamName).jpg" onerror="this.src='/Arena20/images/notfound.png';" width="40" /><br>
                                        @item.teamName
                                    </td>
                                    <td class="gentelella-a-center" style="vertical-align:middle">
                                        @item.userName
                                    </td>
                                    <td class="gentelella-a-center" style="vertical-align:middle">
                                        @item.psnID
                                    </td>
                                </tr>
                                cont = cont + 1;
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    @if (Model.listOfForecastTeamQualifiedThirdPlace.Count > 0)
    {
        <div class="gentelella-row">
            <div class="gentelella-row">
                <div class="gentelella-ln_solid"></div>
                <div class="gentelella-col-md-10 gentelella-col-sm-10 gentelella-col-xs-12">
                </div>
                <div class="gentelella-col-md-2 gentelella-col-sm-2 gentelella-a-right gentelella-col-xs-12">
                </div>
            </div>
            <div class="gentelella-page-title">
                <div class="gentelella-ln_solid"></div>
                <div class="gentelella-col-md-10 gentelella-col-sm-10 gentelella-col-xs-12">
                    <h3>@("PRÉVIA DOS MELHORES 3º COLOCADOS DA LIGA DOS CAMPEÕES DA EUROPA CLASSIFICADOS À SEGUNDA FASE")</h3>
                </div>
                <div class="gentelella-col-md-2 gentelella-col-sm-2 gentelella-a-right gentelella-col-xs-12">
                    <img title="LIGA DOS CAMPEÕES DA EUROPA" src="@("/images/championship-logo/Liga___dos___Campeões___da___Europa.jpg")" width="50" />
                    &nbsp;&nbsp;
                    <img title="COMPETIÇÕES DA MODALIDADE @Model.menuCurrentSeason.modeType" src="/Arena20/images/@("logo-" + Model.menuCurrentSeason.modeType + "-beige.jpg")" width="60" />
                </div>
            </div>
        </div>
        <br><br>
        <div class="gentelella-row">
            <div class="gentelella-x_content">

                <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
                    <div class="gentelella-x_panel">
                        <div class="gentelella-x_content">

                            @{cont = 1; }
                            <br /><br />
                            <table id="datatable-responsive-list2" class="display gentelella-table gentelella-table-striped gentelella-table-bordered gentelella-dt-responsive gentelella-nowrap" cellspacing="0" width="100%">
                                <thead style="background-color:#2C3E4F;color:white">
                                    <tr>
                                        <th width="5%" class="gentelella-a-center">#</th>
                                        <th width="5%" class="gentelella-a-center">Pts.</th>
                                        <th width="5%" class="gentelella-a-center">Jogos</th>
                                        @if (ViewBag.inCurrentSeasonType == "PRO")
                                        {
                                            <th width="30%" class="gentelella-a-center">Clube</th>
                                            <th width="35%" class="gentelella-a-center">Nome do Manager</th>
                                        }
                                        else
                                        {
                                            <th width="30%" class="gentelella-a-center">Time</th>
                                            <th width="35%" class="gentelella-a-center">Nome do Técnico</th>
                                        }
                                        <th width="20%" class="gentelella-a-center">PSN ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listOfForecastTeamQualifiedThirdPlace)
                                    {
                                        <tr>
                                            <td class="gentelella-a-center" style="vertical-align:middle">
                                                @cont.ToString("00")
                                            </td>
                                            <td class="gentelella-a-center" style="vertical-align:middle">
                                                @item.totalPoint
                                            </td>
                                            <td class="gentelella-a-center" style="vertical-align:middle">
                                                @item.totalPlayed
                                            </td>
                                            <td class="gentelella-a-center">
                                                <img src="/Arena20/images/team-logo/@(item.teamName).jpg" onerror="this.src='/Arena20/images/notfound.png';" width="40" /><br>
                                                @item.teamName
                                            </td>
                                            <td class="gentelella-a-center" style="vertical-align:middle">
                                                @item.userName
                                            </td>
                                            <td class="gentelella-a-center" style="vertical-align:middle">
                                                @item.psnID
                                            </td>
                                        </tr>
                                        cont = cont + 1;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- /page content -->


@section Scripts {
    <script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
        });

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            if (detectMobileDevice() == 0) {
                activeSidebarMenu(window.location.pathname);
            }
            table = $('#datatable-responsive-list').DataTable({
                "lengthMenu": [8],
                "processing": true
            });

            if ($('#datatable-responsive-list2').length > 0) {
                table2 = $('#datatable-responsive-list2').DataTable({
                    "lengthMenu": [8],
                    "processing": true
                });
            }
        });

    </script>
}

