@using ArenaFifa20.NET.Models
@model CurrentSeasonSummaryViewModel
@{
    ViewBag.Title = "Current Season - Moderator";
}

<form action="" class="form-horizontal" id="registration-form" method="post" role="form">

    @Html.AntiForgeryToken()
    <input type="hidden" id="actionForm" name="actionForm" value="" />
    <input type="hidden" id="actionType" name="actionType" value="" />
    <input type="hidden" id="currentModeTypeSeason" name="currentModeTypeSeason" value="" />
    <input type="hidden" id="championshipID" name="championshipID" value="" />
</form>

<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:50px">
    <div class="gentelella-page-title">
        <div class="gentelella-col-md-9 gentelella-col-sm-9 gentelella-col-xs-12">
            <h3>@("MODERADORES - " + Model.menuCurrentSeason.currentChampionshipName)</h3>
        </div>
        <div class="gentelella-col-md-3 gentelella-col-sm-3 gentelella-a-right gentelella-col-xs-12">
            <img title="@Model.menuCurrentSeason.currentChampionshipName" src="@("/images/championship-logo/" + Model.menuCurrentSeason.currentChampionshipName.Replace(" ", "_") + ".jpg")" width="50" />
            &nbsp;&nbsp;
            <img title="COMPETIÇÕES DA MODALIDADE @Model.menuCurrentSeason.modeType" src="/Arena20/images/@("logo-" + Model.menuCurrentSeason.modeType + "-beige.jpg")" width="60" />
        </div>
    </div>
    <br><br>

    <div class="gentelella-x_content">

        <div class="gentelella-row">
            <div class="gentelella-col-md-6 gentelella-col-sm-12 gentelella-col-xs-12">
                <div class="gentelella-x_panel">
                    <div class="gentelella-x_content">
                        <span style="color:steelblue;text-align:justify;font-size:16px;font-weight:bold" class="gentelella-title_left">
                            @Model.menuCurrentSeason.currentChampionshipDetails.userName1
                        </span>
                        <div class="gentelella-ln_solid"></div>
                        <p style="text-align:center">
                            <img src="@Model.menuCurrentSeason.currentChampionshipDetails.pathAvatar1">
                            <br>
                            <b>@Model.menuCurrentSeason.currentChampionshipDetails.psnID1</b>
                            <br>
                            <b>Moderador</b><br>
                            <a href="mailto:@(Model.menuCurrentSeason.currentChampionshipDetails.email1)" target="_blank" title="Enivar E-mal para o Moderador."><span class="fables-iconemail fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="gentelella-col-md-6 gentelella-col-sm-12 gentelella-col-xs-12">
                <div class="gentelella-x_panel">
                    <div class="gentelella-x_content">
                        <span style="color:steelblue;text-align:justify;font-size:16px;font-weight:bold" class="gentelella-title_left">
                            @Model.menuCurrentSeason.currentChampionshipDetails.userName2
                        </span>
                        <div class="gentelella-ln_solid"></div>
                        <p style="text-align:center">
                            <img src="@Model.menuCurrentSeason.currentChampionshipDetails.pathAvatar2">
                            <br>
                            <b>@Model.menuCurrentSeason.currentChampionshipDetails.psnID2</b>
                            <br>
                            <b>Moderador</b><br>
                            <a href="mailto:@(Model.menuCurrentSeason.currentChampionshipDetails.email2)" target="_blank" title="Enivar E-mal para o Moderador."><span class="fables-iconemail fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->


@section Scripts {
    <script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
        });

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            if (detectMobileDevice() == 0) {
                activeSidebarMenu(window.location.pathname);
            }
        });

    </script>
}

