@using ArenaFifa20.NET.Models
@model ContactUsViewModel
@{
    ViewBag.Title = "Contact Us";
}


<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="/" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Fale Conosco</li>
            </ol>
        </nav>
    </div>
</div>
<!-- /End Breadcrumbs -->

@using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { @class = "form-horizontal", id = "SendContectUs", role = "form" }))
{
    <!-- Start page content -->
    <div class="container">
        <div class="row my-4 my-md-5 overflow-hidden">
            <div class="col-12 col-sm-1 col-md-2 text-center mb-4 mb-md-0 wow zoomIn" data-wow-duration="0s" data-wow-delay=".0s"></div>
            <div class="col-12 col-sm-6 col-md-4 text-center mb-4 mb-md-0 wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".8s">
                <span class="fables-iconemail fa-2x  fables-second-background-color text-white rounded-circle d-inline-block p-4"></span>
                <h2 class="font-16 semi-font fables-second-text-color my-3">E-Mail</h2>
                <p class="font-14 fables-forth-text-color">moderadoresarena@arenafifa.com.br</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 text-center mb-4 mb-md-0 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="1.2s">
                <span class="fables-iconshare-icon fa-2x fables-second-background-color text-white rounded-circle d-inline-block p-4"></span>
                <h2 class="font-16 semi-font fables-second-text-color my-3">Mantenha Contato</h2>
                <ul class="nav fables-contact-social-links">
                    <li><a href="http://www.facebook.com/arena.fifa" target="_blank"><i class="fab fa-facebook fables-forth-text-color fa-fw" title="Facebook - ArenaFifa"></i></a></li>
                    <li><a href="https://twitter.com/ArenaFIFA" target="_blank"><i class="fab fa-twitter fables-forth-text-color fa-fw" title="Twitter - ArenaFifa"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-4 my-md-5">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <h3 class="font-35 font-weight-bold fables-second-text-color text-center mb-3">Fale Conosco</h3>
                <p class="fables-forth-text-color text-center">Entre em contato conosco.<br>Tire todas as dúvidas, de a sua opinião sobre o nosso site, é muito importante! </p>

            </div>
        </div>
        @Html.AntiForgeryToken()
        <div class="row overflow-hidden">
            <div class="col-12 wow slideInLeft" data-wow-duration="1.5s">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="input-icon">
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control rounded-0 p-3", @placeholder = "Seu Nome Completo" })
                            @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-icon">
                            @Html.TextBoxFor(m => m.psnID, new { @class = "form-control rounded-0 p-3", @placeholder = "PSN ID" })
                            @Html.ValidationMessageFor(m => m.psnID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="input-icon">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control rounded-0 p-3", @placeholder = "Seu E-mail" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-icon">
                            @Html.TextBoxFor(m => m.subject, new { @class = "form-control rounded-0 p-3", @placeholder = "Título da Mensagem" })
                            @Html.ValidationMessageFor(m => m.subject, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="input-icon">
                            @Html.TextAreaFor(m => m.message, new { @rows = "4", @class = "form-control rounded-0 p-3", @placeholder = "Mensagem do E-mail" })
                            @Html.ValidationMessageFor(m => m.message, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 text-center">
                        <button type="submit" class="fables-second-background-color fables-team-border fables-second-border-color fables-btn-rounded white-color px-7 font-20 py-2" style="cursor:pointer">Enviar E-mail</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<br /><br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            if ("@ViewBag.Message" == "success") {
                toastr.success("E-mail Enviado com sucesso.");
                $(".form-control").val("");
            }
            else if ("@ViewBag.Message".substring(0, 4) == "error") {
                toastr.error("Não foi possível enviar o E-mail. Por Favor, fale com um dos moderadores.");
            }
            else if ("@ViewBag.Message" != "") {
                toastr.error("Warning: @ViewBag.Message.");
            }
        });

    </script>
}

