@using ArenaFifa20.NET.Models
@model HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}


<!-- Start Header -->
@using (Html.BeginForm("", "Home", FormMethod.Post, new { @class = "form-horizontal", id = "HomePage", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.seasonID)
    @Html.HiddenFor(x => x.seasonName)
    <input type="hidden" id="test" name="test" value="XPTO" />
    <div class="fables-header fables-after-overlay overlay-lighter bg-rules" style="background-image: url(/images/FIFA-19-DEMO_v2.jpg);">
        <div class="container overflow-hidden">
            <div class="owl-carousel owl-theme default-carousel fables-sqr-nav dots-0 wow fadeInUpBig" data-wow-duration="2s" data-wow-delay=".8s">
                <div>
                    <h1 class="white-color bold-font mt-lg-5 mb-4">
                        CAMPEONATOS ONLINE FIFA19 - PS4 <br>
                        <span class="fables-second-text-color">Modalidade: H2H (X1)</span>
                    </h1>
                    <p class="fables-third-text-color mt-3 mb-5 light-font fables-header-slider-details">
                        Voc&ecirc; receber&aacute; um time por sorteio (in&iacute;cio da temporada) ou por e-mail (durante a temporada) e<br>ir&aacute; disputar nossos campeonatos dispon&iacute;veis para este m&oacute;dulo com este time.
                    </p>
                    <a href="/Account/Register" class="btn fables-second-background-color fables-second-border-color white-color rounded-0 mr-4 px-md-4 py-2 btn-bg-hover  white-color-hover">Inscreva-se</a>
                </div>
                <div data-wow-duration="8s" data-wow-delay=".8s">
                    <h1 class="white-color bold-font mt-lg-5 mb-4">
                        CAMPEONATOS ONLINE FIFA19 - PS4 <br>
                        <span class="fables-second-text-color">Modalidade: FUT (Ultimate Team)</span>
                    </h1>
                    <p class="fables-third-text-color mt-3 mb-5 light-font fables-header-slider-details">
                        O modo FUT (ou mais conhecido como: Ultimate Team) voc&ecirc; monta seu pr&oacute;prio time e<br> disputa os campeonatos dispon&iacute;veis neste modo com este seu time de acordo com os nossos regulamentos.
                    </p>
                    <a href="/Account/Register" class="btn fables-second-background-color fables-second-border-color white-color rounded-0 mr-4 px-md-4 py-2 btn-bg-hover  white-color-hover">Inscreva-se</a>
                </div>
                <div data-wow-duration="8s" data-wow-delay=".8s">
                    <h1 class="white-color bold-font mt-lg-5 mb-4">
                        CAMPEONATOS ONLINE FIFA19 - PS4 <br>
                        <span class="fables-second-text-color">Modalidade: PRO CLUB</span>
                    </h1>
                    <p class="fables-third-text-color mt-3 mb-5 light-font fables-header-slider-details">
                        O modo PRO CLUB, voc&ecirc; tem o seu pr&oacute;prio elenco, s&atilde;o 11 contra 11, ap&oacute;s nos passar todos os dados do seu time, <br> voc&ecirc; ir&aacute; disputar os campeonatos dispon&iacute;veis neste modo com este seu time de acordo com os nossos regulamentos.
                    </p>
                    <a href="/Account/Register" class="btn fables-second-background-color fables-second-border-color white-color rounded-0 mr-4 px-md-4 py-2 btn-bg-hover  white-color-hover">Inscreva-se</a>
                </div>
                <div data-wow-duration="8s" data-wow-delay=".8s">
                    <h1 class="white-color bold-font mt-lg-5 mb-4">
                        ARENA FIFA - LOGIN <br>
                        <span class="fables-second-text-color">FA&Ccedil;A O LOGIN AGORA</span>
                    </h1>
                    <p class="fables-third-text-color mt-3 mb-5 light-font fables-header-slider-details">
                        Se voc&ecirc; j&aacute; usu&aacute;rio do nosso website, apenas clique no bot&atilde;o abaixo e fa&ccedil;a o login.
                    </p>
                    <a href="/Account/Signin" class="btn fables-second-background-color fables-second-border-color white-color rounded-0 mr-4 px-md-4 py-2 btn-bg-hover  white-color-hover">Login</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /End Header -->
    <!-- Start page content -->
    <div class="container">
        <div class="row my-3 my-md-5 overflow-hidden">
            <div class="col-12 col-sm-6 col-lg-3 text-center mb-4 mb-lg-0 wow fadeInDown" data-wow-delay=".4s" data-wow-duration="1.5s">
                <span class="fables-iconlist fables-second-text-color fa-3x"></span>
                @if (Convert.ToBoolean(HttpContext.Current.Session["session.active"].ToString()))
                {
                    <a href="/Home/SubscribeBenchH2HFUT">
                        <h2 class="fables-main-text-color font-18 my-2">INSCRI&Ccedil;&Atilde;O H2H & FUT</h2>
                    </a>
                }
                else
                {
                    <h2 class="fables-main-text-color font-18 my-2">INSCRI&Ccedil;&Atilde;O H2H & FUT</h2>
                }
                <p class="fables-forth-text-color font-15">
                    Inscri&ccedil;&atilde;o no banco de reservas para disputar os campeonatos dispon&iacute;veis nos modos H2H (X1) e Ultimate Team (FUT).
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 text-center mb-4 mb-lg-0 wow fadeInDown" data-wow-delay=".8s" data-wow-duration="1.5s">
                <span class="fables-iconlist fables-second-text-color fa-3x"></span>
                @if (Convert.ToBoolean(HttpContext.Current.Session["session.active"].ToString()))
                {
                    <a href="/Home/SubscribeBenchPROCLUB">
                        <h2 class="fables-main-text-color font-18 my-2">INSCRI&Ccedil;&Atilde;O PRO CLUB</h2>
                    </a>
                }
                else
                {
                    <h2 class="fables-main-text-color font-18 my-2">INSCRI&Ccedil;&Atilde;O PRO CLUB</h2>
                }
                <p class="fables-forth-text-color font-15">
                    Inscri&ccedil;&atilde;o do time que voc&ecirc; &eacute; MANAGER, no banco de reservas, para disputar os campeonatos dispon&iacute;veis no modo PRO CLUB.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 text-center mb-4 mb-lg-0 wow fadeInDown" data-wow-delay="1.2s" data-wow-duration="1.5s">
                <span class="fables-iconwhatapp-icon fables-second-text-color fa-3x"></span>
                <a href="https://chat.whatsapp.com/JcBi0m8RqGdGnq45Td3wuc" target="_blank">
                    <h2 class="fables-main-text-color font-18 my-2">WHATSAPP ARENAFIFA</h2>
                </a>
                <p class="fables-forth-text-color font-15">
                    Link do nosso grupo de WhatsApp (H2H & FUT), interagindo com os t&eacute;cnicos que disputam nossos campeonatos.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 text-center mb-4 mb-lg-0 wow fadeInDown" data-wow-delay="1.6s" data-wow-duration="1.5s">
                <span class="fables-iconshare-icon fables-second-text-color fa-3x"></span>
                <a href="/Home/Bench" target="_self">
                    <h2 class="fables-main-text-color font-18 my-2">BANCO DE RESERVAS</h2>
                </a>
                <p class="fables-forth-text-color font-15">
                    Link para visualizar todo nosso banco de reservas para saber quem e a ordem que est&atilde;o os t&eacute;cnicos esperando para entrar na temporada.
                </p>
            </div>
        </div>
        <div class="row my-3 my-md-5 overflow-hidden">
            <div class="col-12 col-sm-6 col-lg-3 text-center mb-4 mb-lg-0 wow fadeInDown" data-wow-delay=".4s" data-wow-duration="1.5s">
                <span class="fables-iconlist fables-second-text-color fa-3x"></span>
                <h2 class="fables-main-text-color font-18 my-2">RANKEAMENTO H2H (X1)</h2>
                <p class="fables-forth-text-color font-15">
                    Visializar o rankeamento dos t&eacute;cnios para H2H tanto na temporada atual como no geral.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 text-center mb-4 mb-lg-0 wow fadeInDown" data-wow-delay=".8s" data-wow-duration="1.5s">
                <span class="fables-iconlist fables-second-text-color fa-3x"></span>
                <a href="/Home/RankingSupporters" target="_self">
                    <h2 class="fables-main-text-color font-18 my-2">RANKEAMENTO DAS TORCIDAS DO ARENA FIFA</h2>
                </a>
                <p class="fables-forth-text-color font-15">
                    Visualizar as maiores torcidas do Arena com os t&eacute;cnicos cadastrados e ativos.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 text-center mb-4 mb-lg-0 wow fadeInDown" data-wow-delay=".8s" data-wow-duration="1.5s">
                <span class="fables-icongrid fables-second-text-color fa-3x"></span>
                <a href="JAVASCRIPT:submitHomePage('BlackListSummary');" target="_self">
                    <h2 class="fables-main-text-color font-18 my-2">LISTA NEGRA - H2H (X1)</h2>
                </a>
                <p class="fables-forth-text-color font-15">
                    Visualizar os t&eacute;cnicos que est&atilde;o na lista negra desta modalidade na atual temporada.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 text-center mb-4 mb-lg-0 wow fadeInDown" data-wow-delay=".8s" data-wow-duration="1.5s">
                <span class="fables-icongrid fables-second-text-color fa-3x"></span>
                <a href="JAVASCRIPT:submitHomePage('BlackListSummary');" target="_self">
                    <h2 class="fables-main-text-color font-18 my-2">LISTA NEGRA - FUT <br> (Ultimate Team)</h2>
                </a>
                <p class="fables-forth-text-color font-15">
                    Visualizar os t&eacute;cnicos que est&atilde;o na lista negra desta modalidade na atual temporada.
                </p>
            </div>
        </div>
    </div>

    <div class="fables-price-bg fables-after-overlay py-4 py-lg-5 my-4 my-lg-5 bg-rules overflow-hidden" style="background-image: url(images/FIFA-19-DEMO_BODY_v4.jpg);">
        <div class="container position-relative z-index">
            <h2 class="white-color font-35 font-weight-bold text-center mb-4 mb-md-5">Modalidades Dispon&iacute;veis para PS4</h2>
            <div class="row overflow-hidden">
                <div class="col-12 col-sm-6 col-lg-1 mb-4 text-center wow bounceInDown" data-wow-delay=".1s">
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-4 text-center wow bounceInDown" data-wow-delay=".4s">
                    <div class="table-border-light fables-second-hover-border circle-effect">
                        <div class="bg-dark-blue py-4 position-relative">
                            <h2 class="white-color bold-font fables-third-after font-20 pt-4 pb-6">H 2 H (X1)</h2>
                            <div class="center-number-table border-2 bg-dark-blue white-color rounded-circle border-white position-absolute p-4">
                                <h2 class="bold-font font-35 mt-2 d-inline-block"> 19 <span class="table-badge white-color position-absolute font-13"><u>a</u></span></h2>
                                <p class="white-color font-13">Temporada</p>
                            </div>
                        </div>
                        <div class="bg-white py-4 table-block">
                            <p class="fables-forth-text-color mt-6 mb-4 px-4 line-height-large font-15">
                                Acessar para saber tudo que est&aacute; rolando nos campeonatos desta modalidade na temporada atual ou at&eacute; mesmo em uma temporada passada
                            </p>
                            <a href="dashboard-current-season/summary.html" class="btn bg-dark-blue white-color white-color-hover fables-btn-rounded px-5 py-2 font-15">Acessar Dashboard<br> H2H</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 mb-4 col-lg-3 text-center wow bounceInDown" data-wow-delay=".8s">
                    <div class="table-border-light fables-second-hover-border circle-effect">
                        <div class="fables-main-background-color py-4 position-relative">
                            <h2 class="white-color bold-font fables-third-after font-20 pt-4 pb-6">F U T</h2>
                            <div class="center-number-table border-2 fables-main-background-color white-color rounded-circle border-white position-absolute p-4">
                                <h2 class="bold-font font-35 mt-2 d-inline-block"> 21 <span class="table-badge white-color position-absolute font-13"><u>a</u></span></h2>
                                <p class="white-color font-13">Temporada</p>
                            </div>
                        </div>
                        <div class="bg-white py-4 table-block">
                            <p class="fables-forth-text-color mt-6 mb-4 px-4 line-height-large font-15">
                                Acessar para saber tudo que est&aacute; rolando nos campeonatos desta modalidade na temporada atual ou at&eacute; mesmo em uma temporada passada
                            </p>
                            <a href="dashboard-current-season/summary-fut.html" class="btn fables-main-background-color white-color white-color-hover fables-btn-rounded px-5 py-2 font-15">Acessar Dashboard<br> FUT</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-4 text-center wow bounceInDown" data-wow-delay="1.2s">
                    <div class="table-border-light fables-second-hover-border circle-effect">
                        <div class="fables-second-background-color py-4 position-relative">
                            <h2 class="white-color bold-font fables-third-after font-20 pt-4 pb-6">PRO CLUB</h2>
                            <div class="center-number-table border-2 fables-second-background-color white-color rounded-circle border-white position-absolute p-4">
                                <h2 class="bold-font font-35 mt-2 d-inline-block"> 20 <span class="table-badge white-color position-absolute font-13"><u>a</u></span></h2>
                                <p class="white-color font-13">Temporada</p>
                            </div>
                        </div>
                        <div class="bg-white py-4 table-block">
                            <p class="fables-forth-text-color mt-6 mb-4 px-4 line-height-large font-15">
                                Acessar para saber tudo que est&aacute; rolando nos campeonatos desta modalidade na temporada atual ou at&eacute; mesmo em uma temporada passada
                            </p>
                            <a href="dashboard-current-season/summary-pro.html" class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded px-5 py-2 font-15">Acessar Dashboard<br> PRO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="font-35 font-weight-bold text-center fables-main-text-color my-3 my-lg-5">Nossos Parceiros</h2>
        <div class="owl-carousel owl-theme px-3 my-0" id="fables-partner-carousel">
            <a href="http://www.facebook.com/cemturismo" target="_blank">
                <img src="images/partner/CemTurismo.jpg" title="C&M Turismo - Ag&ecirc;ncia de viagens · Ag&ecirc;ncia de Turismo" style="width:100px">
            </a>
            <a href="http://www.artevirtualfc.com.br/" target="_blank">
                <img src="images/partner/ArteVirtual.jpg" title="ARTE VIRTUAL FUTEBOL CLUBE" style="width:150px">
            </a>
            <a href="http://www.fifacoinsbrasil.com/" target="_blank">
                <img src="images/partner/FifaCoins.png" title="Fifa Coins Brasil - Coins para todas as plataformas e muita informa&ccedil;&atilde;o." style="width:150px">
            </a>
        </div>
    </div>
    <br /><br /><br />
}

@section Scripts {
    <script>

        function submitHomePage(actionSubmit) {
            if (actionSubmit == "BlackListSummary") {
                $("#HomePage").attr("action", "/Home/BlackList");
                $("#HomePage").submit();
            }
        }

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            if ('@TempData["actionSuccessfully"]' != '')
                toastr.success('@TempData["actionSuccessfully"].');

        });
    </script>
}