@using ArenaFifa20.NET.Models
@model SubscribeBench
@{
    ViewBag.Title = "Subscribe of the Bench";
    string nameImgCurrentFifa = HttpContext.Current.Application["fifa.codImgCurrent"].ToString() + ".jpg";
}


<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="/" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Inscrição no Banco de Reservas (PRO CLUB)</li>
            </ol>
        </nav>
    </div>
</div>
<!-- /End Breadcrumbs -->

@using (Html.BeginForm("SubscribeBenchPROCLUB", "Home", FormMethod.Post, new { @class = "form-horizontal", id = "SendSubscribeBench", role = "form" }))
{
    @Html.AntiForgeryToken()
    <!-- Start page content -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <h3 class="font-25 font-weight-bold fables-second-text-color text-center mb-3">ESCOLHA OS MODOS DISPONÍVEIS QUE DESEJA PARTICIPAR</h3>
                <p class="fables-forth-text-color text-center text-nowrap">
                    <font size="2" color="black">
                        Por favor escolha abaixo os modos que deseja participar na nova temporada, você pode escolher um (ou mais) modos disponibilizados pelo Arena Fifa.
                        <br>
                        <!--Se você é manager de algum time de PRO CLUB também deverá realizar este procedimento para que confirme o desejo de participar dos campeonatos de PRO CLUB.-->
                    </font>
                </p>

                <br /><br />

                <div class="container">

                    <div class="row">

                        <div class="col-md-12 col-sm-6 col-xs-12">

                            <div class="x_panel text-center">

                                @Html.CheckBoxFor(m => m.checkPRO)<br />
                                @Html.ValidationMessageFor(m => m.checkPRO, "", new { @class = "text-danger" })
                                <br />

                                <h3 class="font-25 font-weight-bold text-center mb-3 fables-main-text-color">MODO PRO CLUB</h3>

                            </div>
                            <br />
                            <p align="justify" class="font-12 font-weight-bold fables-main-text-color">
                                Obs.:  O modo PRO CLUB, é o mais novo modo disponibilizado pelo Arena, você tem o seu próprio elenco, nos passa o nome do time, o escudo e cadastre seu elenco, assim conhecerá seus adversários no mesmo sorteio ao vivo a começar no início da temporada. Ou você pode receber um e-mail com a vaga disponível durante a temporada e poderá optar em aceitar ou não. Após isso disputará nossos campeonatos disponíveis neste modo.
                                <br /><br />
                                Atenção: Nesta modalidade você DEVERÁ cadastrar seu elenco durante o prazo de renovações na própria página principal do site. Assim que fizer a renovação a imagem da renovação irá mudar para inclusão do seu elenco, não esquecendo que os jogadores devem já ter cadastro no Arena e também fazer o upload do escudo do seu time.
                            </p>

                            <br />

                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">&nbsp;</div>

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <span class="fables-iconnews fables-input-icon mt-1 font-13"></span>
                                            @Html.TextBoxFor(m => m.teamNamePRO, new { @class = "form-control rounded-0 py-2 pl-5 font-13 sign-register-input", @placeholder = "Nome do Clube" })
                                            @Html.ValidationMessageFor(m => m.teamNamePRO, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12">&nbsp;</div>
                            </div>

                            <br />

                            <h3 class="font-16 font-weight-bold text-center mb-3 fables-second-text-color">Atenção: É necessário informar seu número de celular para que possamos incluir você em nosso grupo do whatsapp do ARENA de PRO CLUB.</h3>

                            <br />

                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12">&nbsp;</div>

                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="input-icon">
                                                <span class="fables-iconwhatapp-icon fables-input-icon mt-1 font-13"></span>
                                                @Html.TextBoxFor(m => m.ddd, new { @class = "form-control rounded-0 py-2 pl-5 font-13 sign-register-input", @placeholder = "DDD" })
                                                @Html.ValidationMessageFor(m => m.ddd, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="input-icon">
                                                <span class="fables-iconwhatapp-icon fables-input-icon mt-1 font-13"></span>
                                                @Html.TextBoxFor(m => m.mobile, new { @class = "form-control rounded-0 py-2 pl-5 font-13 sign-register-input", @placeholder = "Celular" })
                                                @Html.ValidationMessageFor(m => m.mobile, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">&nbsp;</div>
                            </div>

                            <br />

                            <center>
                                <img src="/images/logo-PRO-white.jpg" style="width:80px">
                                &nbsp;&nbsp;&nbsp;
                                <img src="/images/@nameImgCurrentFifa" style="width:80px">
                            </center>

                        </div>

                    </div>

                    <br /><br />

                    <div class="row">

                        <div class="col-md-4 col-sm-6 col-xs-12">&nbsp;</div>

                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <button type="submit" class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font py-3">Inscrever-se</button>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">&nbsp;</div>

                    </div>

                </div>

            </div>
        </div>
    </div>
}
<br /><br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {

            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');
        });
    </script>
}
}

