@using ArenaFifa20.NET.Models
@model BlackListViewModel
@{
    ViewBag.Title = "Black List - Details";
    int i = 0;
    string userName = Model.nameUser;
    string userID = Model.userID.ToString();
    string psnID = Model.psnID;
}


<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="/Arena20/" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item"><a href="JAVASCRIPT:submitForm()" class="fables-second-text-color">Lista Negra - Sumário da Atual Temporada</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lista Negra - Detalhes do Técnico</li>
            </ol>
        </nav>
    </div>
</div>
<!-- /End Breadcrumbs -->

@using (Html.BeginForm("BlackList", "Home", FormMethod.Post, new { @class = "form-horizontal", id = "BlackListDetails", role = "form" }))
{
    <!-- Start page content -->
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.userID)
    @Html.HiddenFor(x => x.seasonID)
    <div class="container" style="background-color:#ffffff">

        <div class="row mt-3 mt-lg-5 mb-2">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="text-center">
                    <h2 class="fables-second-text-color mb-5 font-weight-bold"> Lista Negra - Detalhes </h2>
                    <p class="fables-forth-text-color my-4">
                        <b> @userID - @userName - @psnID.</b>
                    </p>
                </div>
            </div>
        </div>

        <div class="gallery-filter">
            <div class="portfolioContainer row filter-masonry">
                <div class="firstItemSelected circle-effect">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel">
                                <div class="fables-main-background-color white-color" style="line-height:40px;padding-left:10px">
                                    H2H (X1), FUT (Ultimate Team) & PRO CLUB
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="5%">#</th>
                                                    <th width="10%">Modalidade</th>
                                                    <th width="40%">Campeonato</th>
                                                    <th width="15%">Fase</th>
                                                    <th width="5%">Rodada</th>
                                                    <th width="15%">Tipo Punição</th>
                                                    <th width="10%">PTs</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.listDetails)
                                                {
                                                    i++;
                                                    <tr>
                                                        <td>@i.ToString("00")</td>
                                                        <td class="text-center">@Html.DisplayFor(modelItem => item.typeMode)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.championshipName)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.stageName)</td>
                                                        <td class="text-center">@Html.DisplayFor(modelItem => item.roundID)</td>
                                                        <td>
                                                            @if (item.noWarning == 1)
                                                                {<span>Advertência</span> }
                                                            else if (item.noPartialOmission == 1)
                                                                { <span>Omissão Parcial</span> }
                                                            else if (item.noTotalOmission == 1)
                                                                { <span>Omissão Total</span> }
                                                            else if (item.noUnsportsmanlike == 1)
                                                                { <span>Atitude Anti-Desportiva</span>}
                                                        </td>
                                                        <td>@Html.DisplayFor(modelItem => item.valueBlackList)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<br /><br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

        });

        function submitForm() {
            $("#BlackListDetails").attr("action", "/Arena20/Home/BlackList");
            $("#BlackListDetails").submit();
        }

    </script>
}

