@using ArenaFifa20.NET.Models
@model MyNextMatchesViewModel
@{
    ViewBag.Title = "My Matches - My List Of Scorers";
    int countAux = 1;
}

<form action="" class="form-horizontal" id="registration-form" method="post" role="form">
    @Html.AntiForgeryToken()
    <input type="hidden" id="actionForm" name="actionForm" value="SAVE" />
    <input type="hidden" id="currentModeTypeSeason" name="currentModeTypeSeason" value="" />
    <input type="hidden" id="championshipID" name="championshipID" value="" />
</form>
<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:50px">
    <div class="gentelella-page-title">
        <div class="gentelella-title">
            <h3>MEUS ARTILHEIROS - @Model.typeMode</h3>
        </div>
        <div class="gentelella-title_right">
            <div class="gentelella-col-md-5 gentelella-col-sm-5 gentelella-col-xs-12 gentelella-form-group gentelella-pull-right gentelella-top_search">
                <div class="gentelella-input-group">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="gentelella-row gentelella-top_tiles" style="padding-left:10px">
        <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-4 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12" style="width:350px">
            <div class="gentelella-tile-stats">
                <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                <div class="gentelella-count">@Model.totalsMyMatches.totalMatches.ToString("00")</div>
                <h3>JOGOS</h3>
                <p>Total de jogos na atual temporada</p>
            </div>
        </div>
        <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-4 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12" style="width:350px">
            <div class="gentelella-tile-stats">
                <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                <div class="gentelella-count">@Model.totalsMyMatches.totalGoalsFor.ToString("00")</div>
                <h3>GOLS A FAVOR</h3>
                <p>Total de gols marcados na atual temporada</p>
            </div>
        </div>
        <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-4 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12" style="width:350px">
            <div class="gentelella-tile-stats">
                <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                <div class="gentelella-count">@Model.totalsMyMatches.totalGoalsAgainst.ToString("00")</div>
                <h3>GOLS CONTRA</h3>
                <p>Total de gols sofridos na atual temporada</p>
            </div>
        </div>
    </div>
    <br><br>


    <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
        <div class="gentelella-x_panel">
            <div class="gentelella-x_title">
                <center>
                    <img src="/images/@("logo-" + Model.typeMode + "-white.jpg")" width="150" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/images/@(HttpContext.Current.Application["fifa.codImgCurrent"].ToString() + ".jpg")" width="180" />
                </center>
                <br><br>
                @if (Model.typeMode == "H2H")
                {
                    <h2>
                        Relação dos Meus Artilheiros&nbsp;&nbsp;&nbsp;
                        <span class="fables-iconarrow-light"></span>&nbsp;&nbsp;
                        <img src="/images/team-logo/@(Model.totalsMyMatches.teamNameH2H + ".jpg")" width="30">
                        &nbsp;@Model.totalsMyMatches.teamNameH2H
                        @if (!String.IsNullOrEmpty(Model.totalsMyMatches.nationalTeamNameCPDM))
                        {
                            @("   &   ")
                            <img src="/images/team-logo/@(Model.totalsMyMatches.nationalTeamNameCPDM + ".jpg")" width="30">
                            @("   " + Model.totalsMyMatches.nationalTeamNameCPDM)
                        }
                    </h2>
                }
                else if (Model.typeMode == "FUT")
                {
                    <h2>Relação dos Meus Artilheiros&nbsp;&nbsp;&nbsp; <span class="fables-iconarrow-light"></span>&nbsp;&nbsp;<img src="/images/team-logo/@(Model.totalsMyMatches.teamNameFUT + ".jpg")" onerror="this.src='/images/notfound.png';" width="30">&nbsp;@Model.totalsMyMatches.teamNameFUT</h2>
                }
                else
                {
                    <h2>Relação dos Meus Artilheiross&nbsp;&nbsp;&nbsp; <span class="fables-iconarrow-light"></span>&nbsp;&nbsp;<img src="/images/team-logo/@(Model.totalsMyMatches.teamNamePRO + ".jpg")" onerror="this.src='/images/notfound.png';" width="30">&nbsp;@Model.totalsMyMatches.teamNamePRO</h2>
                }
                <ul class="gentelella-nav navbar-right gentelella-panel_toolbox">
                    <li>
                        <a class="gentelella-collapse-link"><i class="gentelella-fa gentelella-fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="gentelella-clearfix"></div>
            </div>
            <div class="gentelella-x_content">

                <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
                    <div class="gentelella-x_panel">
                        <div class="gentelella-x_content">

                            <table id="datatable-responsive" class="gentelella-table gentelella-table-striped gentelella-table-bordered gentelella-dt-responsive gentelella-nowrap" cellspacing="0" width="100%">
                                <thead style="background-color:#2C3E4F;color:white">
                                    <tr>
                                        <th width="5%" class="gentelella-a-center">#</th>
                                        <th width="15%" class="gentelella-a-center">Avatar</th>
                                        <th width="30%" class="gentelella-a-center">Nome Abreviado</th>
                                        <th width="45%" class="gentelella-a-center">Nome Completo</th>
                                        <th width="5%" class="gentelella-a-center"><span class="gentelella-fa gentelella-fa-soccer-ball-o gentelella-fa-1-2x"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var scorer in Model.listOfScorers)
                                    {
                                        <tr>
                                            <td class="gentelella-a-center" style="vertical-align:middle">@(countAux.ToString("00") + "º")</td>
                                            <td class="gentelella-a-center">
                                                <img src="/images/scorers-logo/@(scorer.playerID.ToString() + ".jpg")" onerror="this.src='/images/user.png';" width="60" height="60" />
                                            </td>
                                            <td style="vertical-align:middle">@scorer.playerName</td>
                                            <td style="vertical-align:middle">@scorer.playerFullName</td>
                                            <td class="gentelella-a-center" style="vertical-align:middle">@scorer.totalGoals.ToString("00")</td>
                                        </tr>
                                        countAux = countAux + 1;
                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<!-- /page content -->


@section Scripts {
    <script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
        });
        if ($.fn.dataTable.isDataTable('#datatable-responsive')) {
            table = $('#datatable-responsive').DataTable();
        }
        else {
            table = $('#datatable-responsive').DataTable({
                "searching": false,
                "ordering": false
            });
        }
        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            if (detectMobileDevice() == 0) {
                activeSidebarMenu(window.location.pathname);
            }
            $("#listOfMatch").find("tr.show-match").each(function (index, value) {
                var goalsHome = parseInt($(this).attr("goalsHome"));
                var goalsAway = parseInt($(this).attr("goalsAway"));
                if ($("#userID").val() == $(this).attr("userIDHome") && goalsHome > goalsAway) { $(this).addClass("score-win"); }
                else if ($("#userID").val() == $(this).attr("userIDAway") && goalsHome < goalsAway) { $(this).addClass("score-win"); }
                else if (goalsHome == goalsAway) { $(this).addClass("score-draw"); }
                else if ($("#userID").val() == $(this).attr("userIDHome") && goalsHome < goalsAway) { $(this).addClass("score-lost"); }
                else if ($("#userID").val() == $(this).attr("userIDAway") && goalsHome > goalsAway) { $(this).addClass("score-lost"); }
            });
        });

    </script>
}

