@using ArenaFifa20.NET.Models
@model MyMatchesSummaryViewModel
@{
    ViewBag.Title = "My Matches - Summary";
    string teamNameH2H = Model.teamNameH2H;
    string teamNameFUT = Model.teamNameFUT;
    string teamNamePRO = Model.teamNamePRO;

    if (teamNameH2H.Length > 20)
    {
        teamNameH2H = teamNameH2H.Substring(0, 19);
    }

    if (teamNameFUT.Length > 20)
    {
        teamNameFUT = teamNameFUT.Substring(0, 19);
    }

    if (teamNamePRO.Length > 20)
    {
        teamNamePRO = teamNamePRO.Substring(0, 19);
    }

}

<!-- page content -->
<form action="" class="form-horizontal" id="registration-form" method="post" role="form">
    @Html.AntiForgeryToken()
    <input type="hidden" id="actionForm" name="actionForm" value="" />
    <input type="hidden" id="currentModeTypeSeason" name="currentModeTypeSeason" value="" />
    <input type="hidden" id="championshipID" name="championshipID" value="" />
</form>

<div class="gentelella-right_col" role="main" style="padding-left:50px">
    <div class="gentelella-page-title">
        <div class="gentelella-title_left">
            <h3>MINHA TEMPORADA - PAINEL</h3>
        </div>
        <div class="gentelella-title_right">
            <div class="gentelella-col-md-5 gentelella-col-sm-5 gentelella-col-xs-12 gentelella-form-group gentelella-pull-right gentelella-top_search">
                <div class="gentelella-input-group">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <br><br>

    @if (Model.teamNameH2H == String.Empty && Model.teamNameFUT == String.Empty && Model.teamNamePRO == String.Empty)
    {
        <span class="fables-second-text-color" style="font-size:14px;font-family:FontAwesome"><b>Você não está associado a nenhum time em nenhuma modalidade nesta temporada.</b></span>
    }

    <div class="gentelella-row gentelella-top_tiles">
        @if (!String.IsNullOrEmpty(Model.teamNameH2H))
        {
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                    <div class="gentelella-count">Time H2H</div>
                    <h3>@teamNameH2H</h3>
                    <p>Meu time nas modalidades do H2H</p>
                </div>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.teamNameFUT))
        {
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                    <div class="gentelella-count">Time FUT</div>
                    <h3>@teamNameFUT</h3>
                    <p>Meu time nas modalidades do FUT</p>
                </div>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.teamNamePRO))
        {
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                    <div class="gentelella-count">Time PRO</div>
                    <h3>@teamNamePRO</h3>
                    <p>Meu time nas modalidades do PRO CLUB</p>
                </div>
            </div>
        }
    </div>

    <br /><br />

    <div class="gentelella-row gentelella-top_tiles">
        @if (Model.totalMatches > 0)
        {
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-calendar"></i></div>
                    <div class="gentelella-count">@Model.totalMatches</div>
                    <h3>JOGOS</h3>
                    <p>Quantidade de jogos que seus times já realizaram</p>
                </div>
            </div>
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-soccer-ball-o"></i></div>
                    <div class="gentelella-count">@Model.totalGoals</div>
                    <h3>GOLS</h3>
                    <p>Quantidade de gols que seus times já marcaram</p>
                </div>
            </div>
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-soccer-ball-o"></i></div>
                    <div class="gentelella-count">@Model.averageGoals</div>
                    <h3>MÉDIA DE GOLS</h3>
                    <p>A média de gols geral dos seus times por partida</p>
                </div>
            </div>
        }
    </div>

    <br /><br />


    <div class="gentelella-row">
        @if (Model.listOfScorersH2H.Count > 0)
        {
            <div class="gentelella-col-md-4">
                <div class="gentelella-x_panel">
                    <div class="gentelella-x_title">
                        <h2>Top 5 de seus Goleadores - H2H</h2>
                        <div class="gentelella-clearfix"></div>
                    </div>
                    <div class="gentelella-x_content">
                        @foreach (var item in Model.listOfScorersH2H)
                        {
                            <article class="gentelella-media gentelella-event">
                                <a class="gentelella-pull-left gentelella-date">
                                    <p class="gentelella-day">@item.totalGoals</p>
                                    <p class="gentelella-month">Gols</p>
                                </a>
                                <div class="gentelella-media-body">
                                    <img src="/Arena20/images/scorers-logo/@(item.playerID.ToString() + ".jpg")" onerror="this.src='/Arena20/images/user.png';" width="40" />&nbsp;&nbsp;&nbsp;@item.playerName
                                    <p>Time: @item.teamName</p>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
        }
        @if (Model.listOfScorersPRO.Count > 0)
        {
            <div class="gentelella-col-md-4">
                <div class="gentelella-x_panel">
                    <div class="gentelella-x_title">
                        <h2>Top 5 de seus Goleadores - PRO CLUB</h2>
                        <div class="gentelella-clearfix"></div>
                    </div>
                    <div class="gentelella-x_content">
                        @foreach (var item in Model.listOfScorersPRO)
                        {
                            <article class="gentelella-media gentelella-event">
                                <a class="gentelella-pull-left gentelella-date">
                                    <p class="gentelella-day">@item.totalGoals</p>
                                    <p class="gentelella-month">Gols</p>
                                </a>
                                <div class="gentelella-media-body" style="padding-top:10px">
                                    <img src="/Arena20/images/scorers-logo/@(item.playerID.ToString() + ".jpg")" onerror="this.src='/Arena20/images/user.png';" width="40" />&nbsp;&nbsp;&nbsp;@item.playerName
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- /page content -->


@section Scripts {
    <script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
        });

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

        });

    </script>
}

