@model ArenaFifa20.NET.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Register";
}

<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="/Arena20/" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Esqueceu sua Senha?</li>
            </ol>
        </nav>
    </div>
</div>
<!-- /End Breadcrumbs -->

<div class="container">
    <div class="row my-4 my-lg-5">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 text-center" style="width:800px">
            <h2 class="fables-second-text-color mb-5 font-weight-bold"> Você esqueceu sua senha?</h2>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="input-icon">
                        <span class="fables-iconemail fables-input-icon mt-2 font-13"></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control rounded-0 py-2 pl-5 font-13 sign-register-input", @placeholder = "Informe seu E-mail" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                </div>
                <input type="submit" class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font py-3" value="Enviar Email" />
                <br />
                <p class="fables-forth-text-color">Você não tem uma conta no Arena?  <a href="/Arena20/Account/Register" class="font-16 semi-font fables-second-text-color underline fables-main-hover-color ml-2">Cadastrar</a></p>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
