@using ArenaFifa20.NET.Models
@model MyNextMatchesViewModel
@{
    ViewBag.Title = "My Matches - My Matches Played";
}

<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:50px">
    <div class="gentelella-page-title">
        <div class="gentelella-title_left">
            <h3>MEUS JOGOS REALIZADOS - @Model.typeMode</h3>
        </div>
        <div class="gentelella-title_right">
            <div class="gentelella-col-md-5 gentelella-col-sm-5 gentelella-col-xs-12 gentelella-form-group gentelella-pull-right gentelella-top_search">
                <div class="gentelella-input-group">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="gentelella-row gentelella-top_tiles">
        <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12">
            <div class="gentelella-tile-stats">
                <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                <div class="gentelella-count">@Model.totalsMyMatches.totalMatches</div>
                <h3>JOGOS</h3>
                <p>Total de jogos na atual temporada</p>
            </div>
        </div>
        <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12">
            <div class="gentelella-tile-stats">
                <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                <div class="gentelella-count">@Model.totalsMyMatches.totalWins</div>
                <h3>VITÓRIAS</h3>
                <p>Total de vitórias na atual temporada</p>
            </div>
        </div>
        <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12">
            <div class="gentelella-tile-stats">
                <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                <div class="gentelella-count">@Model.totalsMyMatches.totalLosses</div>
                <h3>DERROTAS</h3>
                <p>Total de derrotas na atual temporada</p>
            </div>
        </div>
        <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12">
            <div class="gentelella-tile-stats">
                <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                <div class="gentelella-count">@Model.totalsMyMatches.totalGoals</div>
                <h3>GOLS</h3>
                <p>Total de gols na atual temporada</p>
            </div>
        </div>
    </div>

    <br><br>


    <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
        <div class="gentelella-x_panel">
            <div class="gentelella-x_title">
                <center>
                    <img src="/Arena20/images/@("logo-" + Model.typeMode + "-white.jpg")" width="150" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/Arena20/images/@(HttpContext.Current.Application["fifa.codImgCurrent"].ToString() + ".jpg")" width="180" />
                </center>
                <br><br>
                @if (Model.typeMode == "H2H")
                {
                    <h2>
                        Relação dos Meus Jogos Ralizados&nbsp;&nbsp;&nbsp;
                        <span class="fables-iconarrow-light"></span>&nbsp;&nbsp;
                        <img src="/Arena20/images/team-logo/@(Model.totalsMyMatches.teamNameH2H + ".jpg")" width="30">
                        &nbsp;@Model.totalsMyMatches.teamNameH2H
                        @if (!String.IsNullOrEmpty(Model.totalsMyMatches.nationalTeamNameCPDM))
                        {
                            @("   &   ")
                            <img src="/Arena20/images/team-logo/@(Model.totalsMyMatches.nationalTeamNameCPDM + ".jpg")" width="30">
                            @("   " + Model.totalsMyMatches.nationalTeamNameCPDM)
                        }
                    </h2>
                }
                else if (Model.typeMode == "FUT")
                {
                    <h2>Relação dos Meus Jogos Ralizados&nbsp;&nbsp;&nbsp; <span class="fables-iconarrow-light"></span>&nbsp;&nbsp;<img src="/Arena20/images/team-logo/@(Model.totalsMyMatches.teamNameFUT + ".jpg")" onerror="this.src='/Arena20/images/notfound.png';" width="30">&nbsp;@Model.totalsMyMatches.teamNameFUT</h2>
                }
                else
                {
                    <h2>Relação dos Meus Jogos Ralizados&nbsp;&nbsp;&nbsp; <span class="fables-iconarrow-light"></span>&nbsp;&nbsp;<img src="/Arena20/images/team-logo/@(Model.totalsMyMatches.teamNamePRO + ".jpg")" onerror="this.src='/Arena20/images/notfound.png';" width="30">&nbsp;@Model.totalsMyMatches.teamNamePRO</h2>
                }
                <ul class="gentelella-nav navbar-right gentelella-panel_toolbox">
                    <li>
                        <a class="gentelella-collapse-link"><i class="gentelella-fa gentelella-fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="gentelella-clearfix"></div>
            </div>
            <div class="gentelella-x_content">

                <form action="/Arena20/Moderator/LaunchResultDetails" class="form-horizontal" id="registration-form" method="post" role="form">

                    @Html.AntiForgeryToken()
                    @{ TempData["FullModel"] = Model; }
                    <input type="hidden" id="actionForm" name="actionForm" value="SAVE" />
                    <input type="hidden" id="sourceForm" name="sourceForm" value="@("MatchPlayed"+Model.typeMode)" />
                    <input type="hidden" id="selectedID" name="selectedID" value="" />
                    <input type="hidden" id="matchID" name="matchID" value="" />
                    <input type="hidden" id="userID" name="userID" value="@Model.userID" />
                    <input type="hidden" id="currentModeTypeSeason" name="currentModeTypeSeason" value="" />
                    <input type="hidden" id="championshipID" name="championshipID" value="" />
                    <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
                        <div class="gentelella-x_panel">
                            <div class="gentelella-x_content">

                                <table id="datatable-responsive" class="gentelella-table gentelella-table-striped gentelella-table-bordered gentelella-dt-responsive gentelella-nowrap" cellspacing="0" width="100%">
                                    <thead style="background-color:#2C3E4F;color:white">
                                        <tr>
                                            <th width="21%" class="gentelella-a-center">Competição</th>
                                            <th width="15%" class="gentelella-a-center">Fase</th>
                                            <th width="5%" class="gentelella-a-center">Rodada</th>
                                            <th width="12%" class="gentelella-a-center">Período</th>
                                            <th width="40%" class="gentelella-a-center">Jogo</th>
                                            <th width="7%" class="gentelella-a-center">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody id="listOfMatch">
                                        @foreach (var match in Model.listOfMatch)
                                        {
                                            <tr>
                                                <td class="gentelella-a-center" style="vertical-align:middle">@match.championshipName</td>
                                                <td class="gentelella-a-center" style="vertical-align:middle">@match.stageName</td>
                                                <td class="gentelella-a-center" style="vertical-align:middle">@(match.round.ToString("00") + "ª")</td>
                                                <td class="gentelella-a-center" style="vertical-align:middle">@match.startDate.ToString("dd/MM")&nbsp;&nbsp;à&nbsp;&nbsp;@match.endDate.ToString("dd/MM")</td>
                                                <td style="vertical-align:middle">
                                                    <table width="100%">
                                                        <tr class="show-match" userIDHome="@match.userHomeID" userIDAway="@match.userAwayID" goalsHome="@match.totalGoalsHome" goalsAway="@match.totalGoalsAway">
                                                            <td class="gentelella-a-right" width="39%" style="padding-right:10px">@match.teamNameHome</td>
                                                            <td width="22%" style="font-weight:bold"><img src="/Arena20/images/team-logo/@(match.teamNameHome + ".jpg")" onerror="this.src='/Arena20/images/notfound.png';" width="20">&nbsp;&nbsp;@(match.totalGoalsHome)&nbsp;<span style="cursor:pointer;text-decoration:underline" title="Treinadores/Managers responsáveis pela partida:&#013; @(match.psnIDHome + " x " + match.psnIDAway)">x</span>&nbsp;@(match.totalGoalsAway)&nbsp;&nbsp;<img src="/Arena20/images/team-logo/@(match.teamNameAway + ".jpg")" onerror="this.src='/Arena20/images/notfound.png';" width="20"></td>
                                                            <td width="39%">@match.teamNameAway</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="gentelella-a-center" style="cursor:pointer;vertical-align:middle">
                                                    <a href="JAVASCRIPT: $('#matchID').val(@match.matchID);submeteModerator('CommentMatchCurrent', 'SHOW_CHAMPIONSHIPMATCHTABLE_DETAILS', '@match.championshipID');" title="Click para marcar o jogo com seu adversário&#013; ou realizar qualquer outro comentário." class="gentelella-btn gentelella-btn-primary gentelella-btn-xs"><i class="gentelella-fa gentelella-fa-commenting-o gentelella-fa-1-2x"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
<!-- /page content -->


@section Scripts {
    <script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
        });
        if ($.fn.dataTable.isDataTable('#datatable-responsive')) {
            table = $('#datatable-responsive').DataTable();
        }
        else {
            table = $('#datatable-responsive').DataTable({
                "searching": false,
                "ordering": false
            });
        }
        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            if (detectMobileDevice() == 0) {
                activeSidebarMenu(window.location.pathname);
            }
            $("#listOfMatch").find("tr.show-match").each(function (index, value) {
                var goalsHome = parseInt($(this).attr("goalsHome"));
                var goalsAway = parseInt($(this).attr("goalsAway"));
                if ($("#userID").val() == $(this).attr("userIDHome") && goalsHome > goalsAway) { $(this).addClass("score-win"); }
                else if ($("#userID").val() == $(this).attr("userIDAway") && goalsHome < goalsAway) { $(this).addClass("score-win"); }
                else if (goalsHome == goalsAway) { $(this).addClass("score-draw"); }
                else if ($("#userID").val() == $(this).attr("userIDHome") && goalsHome < goalsAway) { $(this).addClass("score-lost"); }
                else if ($("#userID").val() == $(this).attr("userIDAway") && goalsHome > goalsAway) { $(this).addClass("score-lost"); }
            });
        });

    </script>
}

