<div class="fables-navigation fables-main-background-color py-3 py-lg-0">
    <div class="container">
        <div class="row" style="white-space:nowrap;">
            <div class="col-12 col-md-10 pr-md-0">
                <nav class="navbar navbar-expand-md btco-hover-menu py-lg-2" style="vertical-align:middle">

                    <span class="navbar-brand fables-logo-brand pl-0"><img src="/images/arenafifa20.jpg" width="150" class="fables-logo"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#fablesNavDropdown" aria-controls="fablesNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fables-iconmenu-icon text-white font-16"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="fablesNavDropdown">

                        <ul class="navbar-nav mx-auto fables-nav">
                            <li>
                                <a class="nav-link" href="/Home" id="sub-nav1">
                                    Home
                                </a>
                            </li>
                            @if (!Convert.ToBoolean(HttpContext.Current.Session["session.active"].ToString()))
                            {
                                <li>
                                    <a class="nav-link" href="/Account/Register" id="sub-nav1">
                                        Quero Participar
                                    </a>
                                </li>
                            }
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="sub-nav2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Regulamentos
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="sub-nav2">
                                    <li><a class="dropdown-item" href="/Regulation/General">Regulamento Geral</a></li>
                                    <li><a class="dropdown-item" href="/Regulation/H2H">Regulamento Campeonatos H2H</a></li>
                                    <li><a class="dropdown-item" href="/Regulation/FUT">Regulamento Campeonatos FUT</a></li>
                                    <li><a class="dropdown-item" href="/Regulation/PRO">Regulamento Campeonatos PRO CLUB</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="sub-nav2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ranking, Fama & Banco
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="sub-nav1">
                                    <li><a class="dropdown-item" href="/Ranking/Summary">Ranking Atual & Geral</a></li>
                                    <li><a class="dropdown-item" href="/HallOfFame/Summary">Hall Da Fama</a></li>
                                    <li><a class="dropdown-item" href="/Home/Bench">Banco de Reservas</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="sub-nav2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Contato
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="sub-nav1">
                                    <li><a class="dropdown-item" href="/Home/OurTeam">Quem Somos</a></li>
                                    <li><a class="dropdown-item" href="/Home/ContactUs">Fale Conosco</a></li>
                                </ul>
                            </li>
                            @if (Convert.ToBoolean(HttpContext.Current.Session["session.active"].ToString()) && Convert.ToBoolean(HttpContext.Current.Session["user.isModerator"].ToString()))
                            {
                                <li>
                                    <a class="nav-link" href="/Moderator/Summary" id="sub-nav1">
                                        Moderador
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="nav-link" href="" id="sub-nav1">
                                    </a>
                                </li>
                            }
                        </ul>
                        @if (!Convert.ToBoolean(HttpContext.Current.Session["session.active"].ToString()))
                        {
                            <div class="fables-header-icons text-center" style="padding-left:50px">
                                <a href="/Account/Signin" class="fables-third-text-color fables-second-hover-color font-10 top-header-link px-3 px-md-2 px-lg-4">
                                    <span class="fables-iconuser-register fa-2x" title="Faça o login"></span><br><span title="Faça o login">Login Arena</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="fables-third-text-color fables-second-hover-color font-10 top-header-link px-3 px-md-2 px-lg-4" id="avatarUserLogged" style="padding-left:50px">
                                <img src="@HttpContext.Current.Session["user.pathAvatar"].ToString()" title="Avatar do Técnico Logado" width="80px">
                            </div>
                            <div class="fables-third-text-color icons-header-mobile" style="vertical-align:middle;padding-left:10px" id="menuUserLogged">
                                <div class="dropdown">
                                    <button class="btn btn-secondary border-0 bg-transparent font-12 lang-dropdown-btn pl-0 nav-link" type="button" id="dropdownLangButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fables-iconmenu-icon"></span>&nbsp;&nbsp;<u>Bem vindo, @HttpContext.Current.Session["user.psnID"].ToString()</u> @if (Convert.ToBoolean(HttpContext.Current.Session["user.isModerator"].ToString())) {@MvcHtmlString.Create(" (moderador)")}
                                    </button>
                                    <div class="dropdown-menu p-0 fables-forth-background-color rounded-0 m-0 border-0 lang-dropdown" aria-labelledby="dropdownLangButton">
                                        <a class="dropdown-item font-12 fables-second-hover-color" style="color:#F3A100;font-size:12px" href="/Account/ChangePassword">
                                            <span class="fables-iconpassword"></span>&nbsp;&nbsp;Altera Senha
                                        </a>
                                        <a class="dropdown-item font-11 fables-second-hover-color" style="color:#F3A100;font-size:12px" href="/Account/Update">
                                            <span class="fables-icondata"></span>&nbsp;&nbsp;Meus Dados
                                        </a>
                                        <a class="dropdown-item font-11 fables-second-hover-color" style="color:#F3A100;font-size:12px" href="/arena20/dashboard-my-matches/summary.html">
                                            <span class="fables-iconeye"></span>&nbsp;&nbsp;Meus Jogos
                                        </a>
                                        <a class="dropdown-item font-11 fables-second-hover-color" style="color:#F3A100;font-size:12px" href="/Account/Signout">
                                            <span class="fables-iconuser-register"></span>&nbsp;&nbsp;Log Out
                                        </a>
                                    </div>
                                </div>
                                <p class="fables-third-text-color font-12">
                                    @if (!String.IsNullOrEmpty(HttpContext.Current.Session["user.currentTeam"].ToString()))
                                    {
                                        <span class="fables-iconarrow-light"></span>
                                        <b>Atual Time: </b>@HttpContext.Current.Session["user.currentTeam"].ToString();
                                    }
                                    else
                                    {
                                        <b>Atual Time: </b>@MvcHtmlString.Create(" Está sem time atualmente.")
                                    }
                                </p>
                                <p class="fables-third-text-color font-12">
                                    @if (Convert.ToInt16(HttpContext.Current.Session["user.totalTitlesWon"].ToString()) > 0 ||
                                        Convert.ToInt16(HttpContext.Current.Session["user.totalVices"].ToString()) > 0)
                                    {
                                        <span style="padding-left:50px">
                                            <b>
                                                @if (Convert.ToInt16(HttpContext.Current.Session["user.totalTitlesWon"].ToString()) > 0)
                                                {
                                                    @MvcHtmlString.Create(HttpContext.Current.Session["user.totalTitlesWon"].ToString() + "x");
                                                    <img src="/images/t1.gif" width="20px">
                                                }
                                                &nbsp; &nbsp;
                                                @if (Convert.ToInt16(HttpContext.Current.Session["user.totalVices"].ToString()) > 0)
                                                {
                                                    @MvcHtmlString.Create(HttpContext.Current.Session["user.totalVices"].ToString() + "x");
                                                    <img src="/images/t2.gif" width="20px">
                                                }
                                            </b>
                                        </span>

                                    }
                                </p>
                            </div>
                        }
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
