@using ArenaFifa20.NET.Models
@model ChampionshipMatchTableDetailsModel
@{
    /**/

    ViewBag.Title = "Moderator Menu - Launch Simple Result";
    int countAux = 0;
    string teamNameHome = String.Empty;
    string teamNameAway = String.Empty;
    if (!String.IsNullOrEmpty(Model.teamNameHome)) { teamNameHome = Model.teamNameHome; }
    if (!String.IsNullOrEmpty(Model.teamNameAway)) { teamNameAway = Model.teamNameAway; }

    if (Model.modeType == "H2H" && !String.IsNullOrEmpty(Model.teamTypeHome) && !String.IsNullOrEmpty(teamNameHome))
    {
        teamNameHome = teamNameHome + "-" + Model.teamTypeHome;
        teamNameAway = teamNameAway + "-" + Model.teamTypeAway;
    }

    Boolean matchDone = false;
    if (Model.totalGoalsHome != String.Empty) { matchDone = true;  }

    string sourceForm = Model.sourceForm;
    string activeSideBar = "/CurrentSeason/" + sourceForm;
    string ACTION_VOLTAR = "VOLTAR_CURRENT_SEASON";
    string ACTION_CONTROLLER = "CurrentSeason";
    if (sourceForm != String.Empty && (sourceForm.IndexOf("NextMatch") > -1 || sourceForm.IndexOf("MatchPlayed") > -1))
    {
        ACTION_CONTROLLER = "MyMatches";
        ACTION_VOLTAR = "VOLTAR_MY_MATCHES";
        activeSideBar = "/MyMatches/" + sourceForm;
    }
}


<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:20px">
    <div class="gentelella-page-title">
        <div class="gentelella-title">
            <div class="gentelella-col-md-9 gentelella-col-sm-9 gentelella-col-xs-12">
                <h3>LANÇAR RESULTADO DA PARTIDA</h3>
            </div>
        </div>
        <div class="gentelella-col-md-3 gentelella-col-sm-3 gentelella-a-right gentelella-col-xs-12">
            <img title="@Model.championshipName" src="@Model.pathLogoChampionship" width="50" />
            &nbsp;&nbsp;
            <img title="COMPETIÇÕES DA MODALIDADE @Model.modeType" src="@Model.pathLogoType" width="60" />
        </div>
    </div>
    <br>
    <div class="gentelella-row gentelella-a-center" style="color:#2C3E4F">
        <h3><b>@Model.championshipName</b></h3>
        <h5><b>@(Model.seasonName + " - Fase de " + Model.stageName + " - " + Model.roundDetails)</b></h5>
    </div>
    <br /><br />

    <form id="comeback-form" action=""></form>

    <form action="@("/" + ACTION_CONTROLLER + "/LaunchSimpleResultCurrent")" class="form-horizontal" id="registration-form" method="post" role="form">
        @Html.AntiForgeryToken()
        @{ TempData["FullModel"] = Model; }
        <input type="hidden" id="actionForm" name="actionForm" value="SAVE_SIMPLE_RESULT" />
        <input type="hidden" id="sourceForm" name="sourceForm" value="@sourceForm" />
        <input type="hidden" id="selectedID" name="selectedID" value="@Model.championshipID" />
        <input type="hidden" id="matchID" name="matchID" value="@Model.matchID" />
        <input type="hidden" id="scorersTeamHome" name="scorersTeamHome" value="" />
        <input type="hidden" id="goalsTeamHome" name="goalsTeamHome" value="" />
        <input type="hidden" id="scorersTeamAway" name="scorersTeamAway" value="" />
        <input type="hidden" id="goalsTeamAway" name="goalsTeamAway" value="" />
        <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
            <div class="gentelella-x_content">

                <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-14" style="padding-left:0px">
                    <div class="gentelella-col-md-1 gentelella-col-sm-1 gentelella-col-xs-14 gentelella-a-center"></div>
                    <div class="gentelella-col-md-4 gentelella-col-sm-4 gentelella-col-xs-14 gentelella-a-right" style="vertical-align:middle">
                        <img src="@Model.pathLogoTeamHome" title="@Model.teamNameHome" width="80" height="80" />
                        <br />
                        <span style="color:rgb(243,161,0);font-weight:bold;font-size:16px">@(Model.teamNameHome + " (" + Model.psnIDHome + ")")</span>
                        <br><br>
                        <span id="scorersListHome" />
                    </div>

                    <div class="gentelella-col-md-2 gentelella-col-sm-2 gentelella-col-xs-14 gentelella-a-center">
                        <br /><br />
                        <div class='matchAbridged' onmouseover="this.style.backgroundColor = 'transparent';" style="background-color:transparent;">
                            <span class='score-done time-gols' style="height:80px;font-size:50px;font-weight:bold;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px"><span id="numGoalsHome"></span>&nbsp;<span>-</span>&nbsp;<span id="numGoalsAway"></span></span>
                        </div>
                    </div>

                    <div class="gentelella-col-md-4 gentelella-col-sm-4 gentelella-col-xs-14">
                        <img src="@Model.pathLogoTeamAway" title="@Model.teamNameAway" width="80" height="80" />
                        <br />
                        <span style="color:rgb(243,161,0);font-weight:bold;font-size:16px">@(Model.teamNameAway + " (" + Model.psnIDAway + ")")</span>
                        <br><br>
                        <span id="scorersListAway" />
                    </div>
                </div>

                <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-14" style="padding-right:25px">
                    <div class="gentelella-ln_solid" style=""></div>
                    <div class="gentelella-row gentelella-a-right">
                        <input type="button" class="gentelella-btn gentelella-btn-primary" onClick="JAVASCRIPT: submeteModerator('@sourceForm', '@ACTION_VOLTAR', '');" value="Voltar" />
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" target="put0x0" class="gentelella-btn gentelella-btn-xsl gentelella-btn-success" title="Informar o Resultado de 0x0&#013;(sem gols) para a Partida">0x0</button>
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" target="cleanResult" class="gentelella-btn gentelella-btn-xsl gentelella-btn-warning" title="Limpar todo o Resultado informado&#013;(gols e artilheiros) da Partida">Limpar</button>
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" target="saveResult" class="gentelella-btn gentelella-btn-xsl gentelella-btn-success" title="Salvar o Resultado&#013;Informado.">Salvar</button>
                    </div>
                    <br>
                </div>
                <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-14">

                    <div class="gentelella-col-md-6 gentelella-col-sm-6 gentelella-col-xs-14">
                        <div class="gentelella-x_panel">
                            <div class="gentelella-x_content">
                                <table id="datatable-responsive-table" class="display gentelella-table gentelella-table-striped gentelella-table-bordered gentelella-dt-responsive gentelella-nowrap" cellspacing="0" width="100%">
                                    <thead style="background-color:#2C3E4F;color:white">
                                        <tr>
                                            <th width="100%" class="gentelella-a-center" colspan="4">LISTA DE JOGADORES DO @teamNameHome.ToUpper()</th>
                                        </tr>
                                        <tr>
                                            <th width="5%" class="gentelella-a-center">#</th>
                                            <th width="55%" class=" ">Nome Completo do Jogador</th>
                                            <th width="30%" class=" ">Nome Abreviado</th>
                                            <th width="10%" class="gentelella-a-center" title="Lançar gol a gol de cada artilheiro do time">Gol</th>
                                        </tr>
                                    </thead>
                                    <tbody id="playerListHome">
                                        @if (Model.modeType != "FUT")
                                        {
                                            <tr>
                                                <td class="gentelella-a-center" id="playerNumber">0</td>
                                                <td class=" " style="vertical-align:middle">
                                                    <img src="/images/user.png" width="35" />&nbsp;&nbsp;
                                                    Gol Contra
                                                </td>
                                                <td class=" " style="vertical-align:middle" id="playerName">
                                                    Gol Contra
                                                </td>
                                                <td class="gentelella-a-center" style="vertical-align:middle">
                                                    <span id="launchScore" class="gentelella-fa gentelella-fa-soccer-ball-o" title="Click para lançar gol do Jogador" style="cursor:pointer;color:red"></span>
                                                </td>
                                            </tr>
                                        }
                                        else if (Model.modeType == "FUT")
                                        {
                                            <tr>
                                                <td class="gentelella-a-center" id="playerNumber">0</td>
                                                <td class=" " style="vertical-align:middle">
                                                    Click na imagem da bola para informar os gols do time que está jogando em casa
                                                </td>
                                                <td class=" " style="vertical-align:middle" id="playerName">
                                                    -
                                                </td>
                                                <td class="gentelella-a-center" style="vertical-align:middle">
                                                    <span id="launchScore" class="gentelella-fa gentelella-fa-soccer-ball-o" title="Click para lançar gol do time do FUT" style="cursor:pointer"></span>
                                                </td>
                                            </tr>
                                        }
                                        @{countAux = 1; }
                                        @foreach (var scorerHome in Model.listOfScorerTeamHome)
                                        {
                                            <tr>
                                                <td class="gentelella-a-center" id="playerNumber">@countAux</td>
                                                <td class=" " style="vertical-align:middle">
                                                    <img class="scorerImg" src="/images/scorers-logo/@(scorerHome.id.ToString() + ".jpg")" width="35" onerror="this.src='/images/user.png';" />&nbsp;&nbsp;
                                                    @scorerHome.name
                                                </td>
                                                <td class=" " style="vertical-align:middle" id="playerName">
                                                    @scorerHome.nickname
                                                </td>
                                                <td class=" " style="display:none" id="playerID">
                                                    @scorerHome.id
                                                </td>
                                                <td class="gentelella-a-center" style="vertical-align:middle">
                                                    <span id="launchScore" class="gentelella-fa gentelella-fa-soccer-ball-o" title="Click para lançar gol do Jogador" style="cursor:pointer"></span>
                                                </td>
                                            </tr>
                                            countAux = countAux + 1;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="gentelella-col-md-6 gentelella-col-sm-6 gentelella-col-xs-14">
                        <div class="gentelella-x_panel">
                            <div class="gentelella-x_content">
                                <table id="datatable-responsive-table" class="display gentelella-table gentelella-table-striped gentelella-table-bordered gentelella-dt-responsive gentelella-nowrap" cellspacing="0" width="100%">
                                    <thead style="background-color:#2C3E4F;color:white">
                                        <tr>
                                            <th width="100%" class="gentelella-a-center" colspan="4">LISTA DE JOGADORES DO @teamNameAway.ToUpper()</th>
                                        </tr>
                                        <tr>
                                            <th width="5%" class="gentelella-a-center">#</th>
                                            <th width="55%" class=" ">Nome Completo do Jogador</th>
                                            <th width="30%" class=" ">Nome Abreviado</th>
                                            <th width="10%" class="gentelella-a-center" title="Lançar gol a gol de cada artilheiro do time">Gol</th>
                                        </tr>
                                    </thead>
                                    <tbody id="playerListAway">
                                        @if (Model.modeType != "FUT")
                                        {
                                            <tr>
                                                <td class="gentelella-a-center" id="playerNumber">0</td>
                                                <td class=" " style="vertical-align:middle">
                                                    <img src="/images/user.png" width="35" />&nbsp;&nbsp;
                                                    Gol Contra
                                                </td>
                                                <td class=" " style="vertical-align:middle" id="playerName">
                                                    Gol Contra
                                                </td>
                                                <td class="gentelella-a-center" style="vertical-align:middle">
                                                    <span id="launchScore" class="gentelella-fa gentelella-fa-soccer-ball-o" title="Click para lançar gol do Jogador" style="cursor:pointer;color:red"></span>
                                                </td>
                                            </tr>
                                        }
                                        else if (Model.modeType == "FUT")
                                        {
                                            <tr>
                                                <td class="gentelella-a-center" id="playerNumber">0</td>
                                                <td class=" " style="vertical-align:middle">
                                                    Click na imagem da bola para informar os gols do time visitante
                                                </td>
                                                <td class=" " style="vertical-align:middle" id="playerName">
                                                    -
                                                </td>
                                                <td class="gentelella-a-center" style="vertical-align:middle">
                                                    <span id="launchScore" class="gentelella-fa gentelella-fa-soccer-ball-o" title="Click para lançar gol do time do FUT" style="cursor:pointer"></span>
                                                </td>
                                            </tr>
                                        }
                                        @{countAux = 1; }
                                        @foreach (var scorerAway in Model.listOfScorerTeamAway)
                                        {
                                            <tr>
                                                <td class="gentelella-a-center" id="playerNumber">@countAux</td>
                                                <td class=" " style="vertical-align:middle">
                                                    <img class="scorerImg" src="/images/scorers-logo/@(scorerAway.id.ToString() + ".jpg")" width="35" onerror="this.src='/images/user.png';" />&nbsp;&nbsp;
                                                    @scorerAway.name
                                                </td>
                                                <td class=" " style="vertical-align:middle" id="playerName">
                                                    @scorerAway.nickname
                                                </td>
                                                <td class=" " style="display:none" id="playerID">
                                                    @scorerAway.id
                                                </td>
                                                <td class="gentelella-a-center" style="vertical-align:middle">
                                                    <span id="launchScore" class="gentelella-fa gentelella-fa-soccer-ball-o" title="Click para lançar gol do Jogador" style="cursor:pointer"></span>
                                                </td>
                                            </tr>
                                            countAux = countAux + 1;
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>



            </div>
        </div>
        <span id="listScorerMatch" style="display:none">
            @foreach (var scorer in Model.listOfScorerMatch)
            {
                <div side="@scorer.sideScorer" scorerID="@scorer.scorerID" scorerNick="@scorer.scorerNickname" scorerName="@scorer.scorerName" goals="@scorer.totalGoals"></div>
            }
        </span>

    </form>
</div>
<!-- /page content -->
@Html.Partial("_ResultModal")
@Html.Partial("_QuestionModal")
@Html.Partial("_QuestionModalv2")

@section Scripts {
    <script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
        });

        function updateInformedScore() {
            objCalculate.increaseScore();
        }

        function includeFileScreenModalGeneralQuestionSubmit() {
            $("#modalScreeenDeleteTitle").html("RESULTADO DA PARTIDA");
            $("#modalScreeenDeleteSubTitle").html("Enviar Resultado Completo");
            $("#modalScreeenDeleteQuestion").html("");
            $("#modalScreeenDeleteButton").on("click", function () { submitAllResultDetails(); });
        }

        function includeFileScreenModalGeneralScorer() {
            $("#modalScreeenMsgTitle").html("INFORMAR GOLS DA PARTIDA");
            $("#modalScreeenMsgSubTitle").html("Informar Gol do Jogador");
            $("#modalScreeenMsgQuestion").html("");
            $("#modalScreeenMsgButton").on("click", function () { updateInformedScore(); });
        }

        function includeFileScreenModalWarningNoResult() {
            $("#modalScreeenResultTitle").html("Resultado da Partida");
            $("#modalScreeenResultSubTitle").html("Resultado não informado");
            $("#modalScreeenResultMessage").html("");
        }

        function submitAllResultDetails() {
            $("#scorersTeamHome").val(objCalculate.getAllDetailsScoreHome());
            $("#scorersTeamAway").val(objCalculate.getAllDetailsScoreAway());
            $("#goalsTeamHome").val(objCalculate.getScoreHome());
            $("#goalsTeamAway").val(objCalculate.getScoreAway());
            $("#registration-form").submit();
        }

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            if ('@TempData["actionSuccessfully"]' != '')
                toastr.success('@TempData["actionSuccessfully"].');

            if (detectMobileDevice() == 0)
                activeSidebarMenu("@activeSideBar");

            objCalculate = new calculateScore({
                sObjectGoalsHome: "#numGoalsHome",
                sObjectGoalsAway: "#numGoalsAway",
                sObjectListScorersHome: "#scorersListHome",
                sObjectListScorersAway: "#scorersListAway"
            });
            objCalculate.initializeScore();

            includeFileScreenModalGeneralQuestionSubmit();
            includeFileScreenModalWarningNoResult();
            $("button[target='saveResult']").on("click", function () {
                var iGoalsHome = objCalculate.getScoreHome();
                var iGoalsAway = objCalculate.getScoreAway();
                if (iGoalsHome == null || iGoalsAway == null) {
                    $(this).attr("data-toggle", "modal");
                    $(this).attr("data-target", "#bs-result-modal-sm");
                    $("#modalScreeenResultMessage").html("O lançamento de resultado desta partida não foi efetuado. Verifique se os gols dos times estão informados coretamente.");
                    $('#bs-result-modal-sm').modal('show');
                    $(this).attr("data-toggle", "");
                    $(this).attr("data-target", "");
                }
                else {
                    $(this).attr("data-toggle", "modal");
                    $(this).attr("data-target", "#bs-delete-modal-sm");
                    $("#modalScreeenDeleteQuestion").html("Confirma o resultado informado de " + iGoalsHome + " vs " + iGoalsAway + " para esta partida?");
                    $('#bs-delete-modal-sm').modal('show');
                    $(this).attr("data-toggle", "");
                    $(this).attr("data-target", "");
                }
            });

            $("button[target='put0x0']").on("click", function () {
                objCalculate.putScore0x0();
                return false;
            });

            $("button[target='cleanResult']").on("click", function () {
                objCalculate.cleanAllScorers();
                return false;
            });

            includeFileScreenModalGeneralScorer();
            $("[id='launchScore']").on("click", function () {
                $(this).attr("data-toggle", "modal");
                $(this).attr("data-target", "#bs-message-general-modal-sm");

                var playerFromHome = true;
                if ($(this).closest("tbody").attr("id") == "playerListAway") { playerFromHome = false; }

                var playerName = $(this).closest("tr").find("#playerName").text().trim();
                var playerID = $(this).closest("tr").find("#playerID").text().trim();
                if ('@Model.modeType'!= 'FUT')
                    $("#modalScreeenMsgQuestion").html("Deseja infomar 1 gol para o jogador: " + playerName + "?");
                else if (playerFromHome)
                    $("#modalScreeenMsgQuestion").html("Deseja infomar 1 gol para time que está jogando em casa?");
                else if (!playerFromHome)
                    $("#modalScreeenMsgQuestion").html("Deseja infomar 1 gol para time que visitante?");

                if (playerFromHome == true) {
                    objCalculate.setScoreHome(playerName, playerID);
                }
                else {
                    objCalculate.setScoreAway(playerName, playerID);
                }

                $('#bs-message-general-modal-sm').modal('show');
                $(this).attr("data-toggle", "");
                $(this).attr("data-target", "");

            });

            if ('@matchDone' == 'True') {
                $("#listScorerMatch").find("div[side='Home']").each(function (index, value) {
                    var goals = parseInt($(this).attr("goals"));
                    for (var i = 1; i <= goals; i++) {
                        objCalculate.setScoreHome($(this).attr("scorerNick"), $(this).attr("scorerID"));
                        objCalculate.increaseScore();
                    }

                });
                $("#listScorerMatch").find("div[side='Away']").each(function (index, value) {
                    var goals = parseInt($(this).attr("goals"));
                    for (var i = 1; i <= goals; i++) {
                        objCalculate.setScoreAway($(this).attr("scorerNick"), $(this).attr("scorerID"));
                        objCalculate.increaseScore();
                    }
                });

            }

        });

    </script>
}

