@using ArenaFifa20.NET.Models
@model ChangePassWDViewModel
@{
    ViewBag.Title = "Change Password";
}

<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="/Arena20/" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Alterar Senha</li>
            </ol>
        </nav>
    </div>
</div>
<!-- /End Breadcrumbs -->
<!-- Start page content -->
<div class="container">
    <div class="row my-4 my-lg-5">
        <div class="col-12 col-md-10 offset-md-2 col-lg-6 offset-lg-3 text-center">
            <section id="loginForm">
                <h2 class="fables-second-text-color mb-5 font-weight-bold"> Alterar sua Senha </h2>
                @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-row form-group">
                        <div class="col-12 col-md-6 mb-4 mb-md-0">
                            <span class="fables-iconpassword fables-input-icon font-13 mt-1"></span>
                            @Html.PasswordFor(m => m.current_password, new { @class = "form-control rounded-0 py-3 pl-5 font-13 sign-register-input", @placeholder = "Senha Atual" })
                            @Html.ValidationMessageFor(m => m.current_password, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-row form-group">
                        <div class="col-12 col-md-6 mb-4 mb-md-0">
                            <span class="fables-iconpassword fables-input-icon font-13 mt-1"></span>
                            @Html.PasswordFor(m => m.password, new { @class = "form-control rounded-0 py-3 pl-5 font-13 sign-register-input", @placeholder = "Nova Senha" })
                            @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 col-md-6 mb-4 mb-md-0">
                            <span class="fables-iconpassword fables-input-icon font-13 mt-1"></span>
                            @Html.PasswordFor(m => m.confirm_password, new { @class = "form-control rounded-0 py-3 pl-5 font-13 sign-register-input", @placeholder = "Confirma Senha" })
                            @Html.ValidationMessageFor(m => m.confirm_password, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <button type="submit" class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font py-3">Enviar</button>
                    <a href="/Arena20/Account/ForgotPassword" class="fables-forth-text-color font-16 fables-second-hover-color underline mt-3 mb-4 m-lg-5 d-block">Equeceu a Senha?</a>
                }
            </section>
        </div>
    </div>
</div>

<!-- /End page content -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {

            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            if ('@TempData["serverValidation"]' == '1') {
                $("#current_password").val('@TempData["current_password"]');
                $("#password").val('@TempData["password"]');
                $("#confirm_password").val('@TempData["confirm_password"]');
            }
        });

    </script>
}
