@using ArenaFifa20.NET.Models
@model RenewalPROCLUBSquadViewModel
@{
    ViewBag.Title = "Hall Of Fame - Renewal PRO - Squad";
    string nameImgCurrentFifa = HttpContext.Current.Application["fifa.codImgCurrent"].ToString() + ".jpg";
    int i = 0;
    string fullName = Model.mangerName + " (" + Model.psnID + ")";
    string fullMobileNumber = "(" + Model.codeMobileNumber + ") " + Model.mobileNumber;
}

<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:50px">
    <div class="gentelella-page-title">
        <div class="gentelella-col-md-12 gentelella-col-sm-6 gentelella-col-xs-12">
            <h3>PRO CLUB - RENOVAÇÃO REALIZADA</h3>
        </div>
    </div>

    <div class="gentelella-x_content">

        <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
            <div class="gentelella-x_panel">
                <div class="gentelella-x_title">
                    <center>
                        <img src="/Arena20/images/logo-PRO-white.jpg" width="150" />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="/Arena20/images/@nameImgCurrentFifa" width="180" />
                        <br><br>
                        <h3>ELENCO & EMBLEMA DO CLUBE: @Model.clubName.ToUpper()</h3>
                        <div class="gentelella-ln_solid" style="border-top:3px solid #e5e5e5"></div>
                        <br />
                        <img src="@Model.pathImageClub" title="@Model.clubName" width="80" />
                        <br /><br />
                        <h4>Manager do Clube: @fullName</h4>
                        <br />
                        <h4>DDD/Celular: @fullMobileNumber</h4>
                    </center>
                </div>

                <div class="gentelella-x_content">

                    <div class="gentelella-row">

                        <h3>ELENCO DO CLUBE</h3>
                        <br />

                        <div class="gentelella-table-responsive">
                            <table class="gentelella-table gentelella-table-striped gentelella-jambo_table bulk_action">
                                <thead style="background-color:#2C3E4F">
                                    <tr class="gentelella-headings">
                                        <th class="gentelella-column-title gentelella-a-center" width="5%"># </th>
                                        <th class="gentelella-column-title" width="50%">Nome Completo </th>
                                        <th class="gentelella-column-title" width="25%">PSN </th>
                                        <th class="gentelella-column-title gentelella-a-center" width="20%">Data/Hora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listOfSquad)
                                    {
                                        i++;
                                        <tr class="gentelella-even gentelella-pointer">
                                            <td class="gentelella-a-center ">@i.ToString("00")º</td>
                                            <td class=" ">
                                                @Html.DisplayFor(modelItem => item.userName)
                                                &nbsp;&nbsp;
                                                @if (item.isCapitain)
                                                {<img src="/Arena20/images/capitao.png" width="10" />}
                                            </td>
                                            <td class=" ">@Html.DisplayFor(modelItem => item.psnID)</td>
                                            <td class="gentelella-a-center" style="vertical-align:right">@Html.DisplayFor(modelItem => item.recordDate)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<!-- /page content -->
@section Scripts {
    <script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
            if ('@ViewBag.inRenewNextSeason' == '1')
                $("#liRenewNextSeason").show();
            else
                $("#liRenewNextSeason").hide();
        });

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            if (detectMobileDevice() == 0)
                activeSidebarMenu(window.location.pathname.replace("Squad",""));

        });

    </script>
}

