@using ArenaFifa20.NET.Models
@model RankingViewModel
@{
    int i = 0;
}
<div class="gentelella-x_content">
    @if (Model.typeChampionship == "DIV1" || Model.typeChampionship == "FUT1" || Model.typeChampionship == "PRO1")
    {
        <p><code>Está ordenado por ordem da maior pontuação do Ranking de quem já estava na divisão e da maior pontuação do Ranking de quem obteve acesso à divisão. <br><br> Atenção: Nenhum técnico pode subir seguidamente duas divisões, a prioridade é sempre de quem já estava na divisão.  </code></p>
    }
    else if (Model.typeChampionship == "DIV2" || Model.typeChampionship == "FUT2" || Model.typeChampionship == "PRO2")
    {
        <p><code>Está ordenado por ordem da maior pontuação do Ranking de quem já estava na divisão, da maior pontuação do Ranking de quem obteve acesso à divisão, da maior pontuação do Ranking de quem foi rebaixado na temporada passada e da maior pontuação no ranking de quem subiu no tapetão.  <br><br> Atenção: Nenhum técnico pode subir seguidamente duas divisões, a prioridade é sempre de quem já estava na divisão.  </code></p>
    }
    else if (Model.typeChampionship == "DIV3" || Model.typeChampionship == "FUT3" || Model.typeChampionship == "PRO3")
    {
        <p><code>Está ordenado por ordem da maior pontuação do Ranking de quem já estava na divisão, da maior pontuação do Ranking de quem obteve acesso à divisão, maior pontuação do Ranking de quem foi rebaixado na temporada passada e maior pontuação no ranking de quem subiu no tapetão. <br><br> Atenção: Nenhum técnico pode subir seguidamente duas divisões, a prioridade é sempre de quem já estava na divisão.  </code></p>
    }
    <br>
    <div class="gentelella-table-responsive">
        <table class="gentelella-table gentelella-table-striped gentelella-jambo_table bulk_action">
            <thead style="background-color:#2C3E4F">
                <tr class="gentelella-headings">
                    <th class="gentelella-column-title gentelella-a-center" width="5%"># </th>
                    <th class="gentelella-column-title" width="35%">Técnico </th>
                    <th class="gentelella-column-title" width="20%">PSN </th>
                    <th class="gentelella-column-title" width="15%">Treinando? </th>
                    <th class="gentelella-column-title gentelella-a-right" width="15%">Total Pontos  </th>
                    <th class="gentelella-column-title gentelella-a-right" width="10%">Status  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listOfRanking)
                {
                    i++;
                <tr class="gentelella-even gentelella-pointer" userID="@item.userID">
                    <td class="gentelella-a-center ">@i.ToString("00")º</td>
                    <td class=" ">@Html.DisplayFor(modelItem => item.userName)</td>
                    <td class=" ">@Html.DisplayFor(modelItem => item.psnID)</td>
                    <td class=" ">@Html.DisplayFor(modelItem => item.teamName)</td>
                    <td class="gentelella-a-right">@Html.DisplayFor(modelItem => item.total)</td>

                    @if (item.inRelegatePreviousSeason == "0" || item.inAccessCurrentSeason != "1")
                    {
                        if (item.inAccessCurrentSeason==ViewBag.inAccessCurrentSeasonRegular) { <td class="gentelella-a-right">NORMAL</td> }
                        else if (item.inAccessCurrentSeason == ViewBag.inAccessCurrentSeasonAccess) { <td class="gentelella-a-right-blue">ACESSO</td> }
                        else if (item.inAccessCurrentSeason == ViewBag.inAccessCurrentSeasonAccessDirect) { <td class="gentelella-a-right-blue">TAPETÃO</td> }
                        else if (item.inAccessCurrentSeason == ViewBag.inAccessCurrentSeasonInvite) { <td class="gentelella-a-right-blue">CONVITE</td> }
                        else if (item.inAccessCurrentSeason == ViewBag.inAccessCurrentSeasonExchange) { <td class="gentelella-a-right-blue">TROCA</td> }

                    }
                    else
                    {
                        <td class="gentelella-a-right-red">REBAIXADO</td>
                    }

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
