@using ArenaFifa20.NET.Models
@model BenchModesViewModel
@{
    ViewBag.Title = "Moderator Menu - Bench Details";
}


<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:20px">
    <div class="gentelella-page-title">
        <div class="gentelella-title">
            <h3>CADASTRO DE MANUTENÇÃO DO BANCO DE RESERVAS - @Model.actionUser</h3>
        </div>
    </div>
    <br>

    <div class="gentelella-col-md-14 gentelella-col-sm-14 gentelella-col-xs-14" style="background-color:#F7F7F7">
        <div class="gentelella-x_panel">
            <div class="gentelella-x_content">

                @Html.Partial("_MessageValidate")

                <form id="comeback-form" action=""></form>

                <form action="/Moderator/BenchDetails" class="form-horizontal" id="registration-form" method="post" role="form" data-parsley-validate>


                    @Html.AntiForgeryToken()
                    <input type="hidden" id="actionForm" name="actionForm" value="SAVE" />
                    <input type="hidden" id="selectedID" name="selectedID" value="" />
                    <p>
                        <code style="background-color:#fff">Todos os campos com (*) são de preenchimento obrigatório.</code>
                    </p>
                    <div class="gentelella-row">
                        <div class="gentelella-col-md-7 gentelella-col-sm-7 gentelella-col-xs-12">
                            <label for="nome">Técnico ou Manager <i style="color:red">*</i> :</label>
                            <select id="cmbTecnico" name="cmbTecnico" class="gentelella-form-control" required>
                                <option value="">Selecione..</option>
                                @foreach (var item in Model.listOfUser)
                                {
                                    <option value="@item.id">@(item.name + " (" + item.psnID + ")")</option>
                                }
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="gentelella-row">
                        <div class="gentelella-col-md-3 gentelella-col-sm-3 gentelella-col-xs-12">
                            <label for="url">Tipo de Banco de Reservas<i style="color:red">*</i> :</label><br>
                            <div class="gentelella-radio gentelella-radio-success gentelella-radio-inline">
                                <input type="radio" name="rdoTipo" id="rdoTipoH2H" value="H2H" />
                                <label for="H2H">H2H</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="rdoTipo" id="rdoTipoFUT" value="FUT" />
                                <label for="FUT">FUT</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="rdoTipo" id="rdoTipoPRO" value="PRO" required />
                                <label for="PRO">PRO CLUB</label>
                            </div>
                        </div>
                        <div class="gentelella-col-md-4 gentelella-col-sm-4 gentelella-col-xs-12">
                            <label class="gentelella-control-label" for="tecnico">Time FUT ou Clube PRO CLUB :</label>
                            <input type="text" id="txtTime" name="txtTime" class="gentelella-form-control" data-parsley-maxlength="50" value="@Model.listOfBench[0].team" />
                        </div>
                    </div>
                    <br>

                    <div class="gentelella-form-group gentelella-a-right">
                        <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
                            <br>
                            <div class="gentelella-ln_solid"></div>
                            <input type="button" class="gentelella-btn gentelella-btn-primary" onClick="JAVASCTIPT: submeteModerator('Bench', 'VOLTAR', '');" value="Voltar" />
                            <input type="submit" class="gentelella-btn gentelella-btn-success" value="Salvar Dados" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@section Scripts {
<script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
        });

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            activateRegistrationForm("BenchDetails", '@Model.actionUser');

            if (detectMobileDevice() == 0)
                activeSidebarMenu(window.location.pathname.replace("Details", ""));

            $("option[value='@Model.listOfBench[0].userID']").attr("selected", "true");
            if ('@Model.listOfBench[0].typeBench' == 'H2H')
                $("#rdoTipoH2H").attr("checked", "true");
            else if ('@Model.listOfBench[0].typeBench' == 'FUT')
                $("#rdoTipoFUT").attr("checked", "true");
            else if ('@Model.listOfBench[0].typeBench' == 'PRO')
                $("#rdoTipoPRO").attr("checked", "true");
        });

</script>
}

