@using ArenaFifa20.NET.Models
@model ChampionshipListViewModel
@{
    ViewBag.Title = "Moderator Menu - Championship";
}


<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:20px">
    <div class="gentelella-page-title">
        <div class="gentelella-title">
            <h3>CADASTRO DE CAMPEONATOS</h3>
        </div>
    </div>
    <br>
    @using (Html.BeginForm("Details", "Moderator", FormMethod.Post, new { @class = "form-horizontal", id = "registration-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id="actionForm" name="actionForm" />
        <input type="hidden" id="selectedID" name="selectedID" />
        <input type="hidden" id="selectedType" name="selectedType" value="" />
        <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
            <div class="gentelella-x_panel">
                <div class="gentelella-x_content">


                    <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
                        <div class="gentelella-x_panel">
                            <div class="gentelella-x_content">

                                <div class="gentelella-col-md-10 gentelella-col-sm-10 gentelella-col-xs-12">
                                </div>
                                <div id="waiting" class="gentelella-col-md-2 gentelella-col-sm-2 gentelella-col-xs-12 gentelella-a-center">
                                    Aguarde o processamento...<br />
                                    <img width="70" heigh="70" src="/images/aguarde.gif" />
                                </div>
                                <br><br>

                                <table id="datatable-responsive" class="gentelella-table gentelella-table-striped gentelella-table-bordered gentelella-dt-responsive gentelella-nowrap" cellspacing="0" width="100%">
                                    <thead style="background-color:#2C3E4F;color:white">
                                        <tr>
                                            <th style="display:none">id</th>
                                            <th style="display:none">seasonID</th>
                                            <th width="26%">Campeonato</th>
                                            <th width="8%" class="gentelella-a-center">Temporada</th>
                                            <th width="5%" class="gentelella-a-center">Tipo</th>
                                            <th width="5%" class="gentelella-a-center">Ativo?</th>
                                            <th width="10%" class="gentelella-a-center">Dt. Início</th>
                                            <th width="10%" class="gentelella-a-center">Dt. Sorteio</th>
                                            <th width="16%" class="gentelella-a-center">Moderadores</th>
                                            <th width="20%" class="gentelella-a-center">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.listOfChampionship)
                                        {
                                            <tr>
                                                <td style="display:none">@item.id</td>
                                                <td style="display:none">@item.seasonID</td>
                                                <td style="vertical-align:middle">@item.name</td>
                                                <td style="vertical-align:middle" class="gentelella-a-center">@item.seasonName.Substring(0, 3)</td>
                                                <td style="vertical-align:middle">@item.type</td>
                                                @if (item.active)
                                                {
                                                    <td style="vertical-align:middle">Sim</td> }
                                                else
                                                {
                                                    <td style="vertical-align:middle">Não</td>}
                                                <td style="vertical-align:middle" class="gentelella-a-center">@item.startDateFormatted</td>
                                                <td style="vertical-align:middle" class="gentelella-a-center">@item.drawDateFormatted</td>
                                                <td style="vertical-align:middle" class="gentelella-a-center">@item.psnID1 <br />@item.psnID2</td>
                                                <td style="vertical-align:middle;padding-left:20px" class=" ">
                                                    <a href="JAVASCRIPT: submeteModerator('ChampionshipDetails', 'VIEW', '@item.id');" title="Visualizar dados do item de cadastro." class="gentelella-btn gentelella-btn-primary gentelella-btn-xs"><i class="gentelella-fa gentelella-fa-folder gentelella-fa-1-2x"></i></a>
                                                    <a href="JAVASCRIPT: submeteModerator('ChampionshipDetails', 'EDIT', '@item.id');" title="Alterar dados do item de cadastro." class="gentelella-btn gentelella-btn-info gentelella-btn-xs"><i class="gentelella-fa gentelella-fa-edit gentelella-fa-1-2x"></i></a>
                                                    @if ((item.type == "DIV1" || item.type == "DIV2" || item.type == "DIV3" || item.type == "DIV4" || item.type == "FUT1") && item.active)
                                                    {<a href="JAVASCRIPT: $('#selectedType').val('@item.type');submeteModerator('ManageChampionshipDetails', 'SEND_INVITE', '@item.id');" title="Enviar e-mail &#13;convite temporada." class="gentelella-btn gentelella-btn-default gentelella-btn-xs"><i class="gentelella-fa gentelella-fa-envelope-o gentelella-fa-1-2x"></i></a>}

                                                    @if ((item.type == "DIV1" || item.type == "DIV2" || item.type == "DIV3" || item.type == "DIV4") && item.active)
                                                    {<a href="JAVASCRIPT: $('#selectedType').val('@item.type');submeteModerator('ManageChampionshipDetails', 'MANAGER_SWAP', '@item.id');" title="Efetuar troca &#13;apenas de técnico." class="gentelella-btn gentelella-btn-warning gentelella-btn-xs"><i class="gentelella-fa gentelella-fa-refresh gentelella-fa-1-2x"></i></a>}
                                                    else if ((item.type == "FUT1" || item.type == "FUT2") && item.active)
                                                    {<a href="JAVASCRIPT: $('#selectedType').val('@item.type');submeteModerator('ManageChampionshipDetails', 'MANAGER_SWAP', '@item.id');" title="Efetuar troca de &#13;time & técnico do FUT." class="gentelella-btn gentelella-btn-warning gentelella-btn-xs"><i class="gentelella-fa gentelella-fa-refresh gentelella-fa-1-2x"></i></a>}
                                                    else if ((item.type == "PRO1" || item.type == "PRO2") && item.active)
                                                    {<a href="JAVASCRIPT: $('#selectedType').val('@item.type');submeteModerator('ManageChampionshipDetails', 'MANAGER_SWAP', '@item.id');" title="Efetuar troca de &#13;clube & manager do PRO." class="gentelella-btn gentelella-btn-warning gentelella-btn-xs"><i class="gentelella-fa gentelella-fa-refresh gentelella-fa-1-2x"></i></a>}


                                                    @if (item.type == "PRO1" && item.active)
                                                    {<a href="JAVASCRIPT: $('#selectedType').val('@item.type');submeteModerator('ManageChampionshipDetails', 'CLUB_SWAP', '@item.id');" title="Efetuar APENAS a troca &#13;de manager do clube." class="gentelella-btn gentelella-btn-dark gentelella-btn-xs"><i class="gentelella-fa gentelella-fa-exchange gentelella-fa-1-2x"></i></a>}
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    }
</div>
<!-- /page content -->


@section Scripts {
    <script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
        });

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            if ('@TempData["actionSuccessfully"]' != '')
                toastr.success('@TempData["actionSuccessfully"].');

            if (detectMobileDevice() == 0)
                activeSidebarMenu(window.location.pathname);

            $("#waiting").hide();
            if ('@Model.listOfChampionship.Count' != 0) {
                setOrderingDatatableResponsive([1, 'desc'], [5, 'desc'], [0, 'asc'])
            }
        });

    </script>
}

