@using ArenaFifa20.NET.Models
@model ChampionshipDetailsModel
@{
    ViewBag.Title = "Moderator Menu - Championship Details";
}


<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:20px">
    <div class="gentelella-page-title">
        <div class="gentelella-title">
            <h3>CADASTRO DE CAMPEONATOS - @Model.titleView</h3>
        </div>
    </div>
    <br>

    <div class="gentelella-col-md-14 gentelella-col-sm-14 gentelella-col-xs-14" style="background-color:#F7F7F7">
        <div class="gentelella-x_panel">
            <div class="gentelella-x_content">

                @Html.Partial("_MessageValidate")

                <form id="comeback-form" action=""></form>

                <form action="/Moderator/ManageChampionshipDetails" class="form-horizontal" id="registration-form" method="post" role="form" data-parsley-validate>


                    @Html.AntiForgeryToken()
                    <input type="hidden" id="actionForm" name="actionForm" value="@("SAVE_" + Model.actionUser)" />
                    <input type="hidden" id="selectedID" name="selectedID" value="@Model.id" />
                    <input type="hidden" id="selectedIDType" name="selectedIDType" value="@Model.type" />
                    <input type="hidden" id="selectedIDSeasonName" name="selectedIDSeasonName" value="@Model.seasonName" />
                    <center>
                        <img id="championshipLogo" src="@Model.pathLogoChampionship" width="80" />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img id="sportLogo" src="@Model.pathLogoType" width="100" />
                    </center>
                    <br>
                    <fieldset style="border:1px solid #2C3E4F;padding-left:10px">
                        <br>
                        <label class="gentelella-blue" style="font-size:14px;text-align:left;width:160px">Dados do Campeonato:</label>
                        <div class="gentelella-row">
                            <div class="gentelella-col-md-9 gentelella-col-sm-9 gentelella-col-xs-12">
                                <label for="deacricao">Descrição:</label>
                                &nbsp;&nbsp;
                                <label class="gentelella-red">@Model.name</label>
                            </div>
                            <div class="gentelella-col-md-3 gentelella-col-sm-3 gentelella-col-xs-12">
                                <label for="deacricao">Temporada:</label>
                                &nbsp;&nbsp;
                                <label class="gentelella-red">@Model.seasonName</label>
                            </div>
                        </div>
                        <div class="gentelella-row">
                            <div class="gentelella-col-md-4 gentelella-col-sm-4 gentelella-col-xs-12">
                                <label for="deacricao">Qtd. Times:</label>
                                &nbsp;&nbsp;
                                <label class="gentelella-red">@Model.totalTeam.ToString("00")</label>
                            </div>
                            <div class="gentelella-col-md-5 gentelella-col-sm-5 gentelella-col-xs-12">
                                <label for="deacricao">Qtd. Classificados:</label>
                                &nbsp;&nbsp;
                                <label class="gentelella-red">@Model.totalQualify.ToString("00")</label>
                            </div>
                            <div class="gentelella-col-md-3 gentelella-col-sm-3 gentelella-col-xs-12">
                                <label for="deacricao">Qtd. Rebaixados:</label>
                                &nbsp;&nbsp;
                                <label class="gentelella-red">@Model.totalRelegation.ToString("00")</label>
                            </div>
                        </div>
                        <div class="gentelella-row">
                            <div class="gentelella-col-md-4 gentelella-col-sm-4 gentelella-col-xs-12">
                                <label for="deacricao">Divisão Por Grupos? </label>
                                &nbsp;&nbsp;
                                <label class="gentelella-red">@if (Model.forGroup) { @Html.Raw("Sim"); } else { @Html.Raw("Não"); }</label>
                            </div>
                            <div class="gentelella-col-md-5 gentelella-col-sm-5 gentelella-col-xs-12">
                                <label for="deacricao">Turno e Returno?</label>
                                &nbsp;&nbsp;
                                <label class="gentelella-red">@if (Model.twoTurns) { @Html.Raw("Sim"); } else { @Html.Raw("Não"); }</label>
                            </div>
                            <div class="gentelella-col-md-3 gentelella-col-sm-3 gentelella-col-xs-12">
                                <label for="deacricao">Ida e Volta?</label>
                                &nbsp;&nbsp;
                                <label class="gentelella-red">@if (Model.twoLegs) { @Html.Raw("Sim"); } else { @Html.Raw("Não"); }</label>
                            </div>
                        </div>
                        <div class="gentelella-row">
                            <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
                                <label for="deacricao">Moderadores:</label>
                                &nbsp;&nbsp;
                                <label class="gentelella-red">@(Model.userName1 + " (" + Model.psnID1 + ") & " + Model.userName2 + " (" + Model.psnID2 + ")")</label>
                            </div>
                        </div>
                        <br>
                    </fieldset>
					<br>
                    <p>
                        <code style="background-color:#fff">Todos os campos com (*) são de preenchimento obrigatório.</code>
                    </p>
                    <br>
					<div class="gentelella-row">
						<div class="gentelella-col-md-6 gentelella-col-sm-6 gentelella-col-xs-12">
							<label class="gentelella-control-label" for="dtInicio" id="labelFirstCombobox">@Model.labelUserGetIn </label><i style="color:red">*</i> :
							<select id="cmbInputIN" name="cmbInputIN" class="gentelella-form-control" required >
								<option value="">Selecione...</option>
                                @if (Model.actionUser== "SEND_INVITE")
                                {
                                    foreach (var item in Model.listOfTeam)
                                    {
                                        <option value="@(item.id + ";" + item.name + ";" + item.type)">@(item.name + " (" + item.type + ")")</option>
                                    }

                                }
                                else
                                {
                                    foreach (var item in Model.listOfUserGetIn)
                                    {
                                        <option value="@(item.id + ";" + item.name + ";" + item.psnID + ";" + item.email)">@(item.name + " (" + item.psnID + ")")</option>
                                    }
                                }
							</select>
						</div>
						<div class="gentelella-col-md-6 gentelella-col-sm-6 gentelella-col-xs-12">
							<label class="gentelella-control-label" for="dtInicio" id="labelSecondCombobox">@Model.labelUserGetOut </label><i style="color:red">*</i> :
							<select id="cmbInputOUT" name="cmbInputOUT" class="gentelella-form-control" required>
								<option value="">Selecione...</option>
                                @foreach (var item in Model.listOfUserGetOut)
                                {
                                    <option value="@(item.id + ";" + item.name + ";" + item.psnID + ";" + item.email)">@(item.name + " (" + item.psnID + ")")</option>
                                }
							</select>
							<br>
						</div>
					</div>

                    <div class="gentelella-form-group gentelella-a-right">
                        <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
                            <div class="gentelella-ln_solid"></div>
                            <input type="button" class="gentelella-btn gentelella-btn-primary" onClick="JAVASCRIPT: submeteModerator('Championship', 'VOLTAR', '');" value="Voltar" />
                            <input type="button" class="gentelella-btn gentelella-btn-success" value="@Model.labelActionButton" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@Html.Partial("_QuestionModalv2")
@section Scripts {
<script>
    $(function () {
        if (detectMobileDevice() == 1) {
            //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
            //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
            hidden_show_ObjectMobile("footerMobile", "block");
        }
    });

    $(document).ready(function () {
        if ('@TempData["returnMessage"]' != '')
            toastr.error('Aviso: @TempData["returnMessage"].');

        if (detectMobileDevice() == 0)
            activeSidebarMenu(window.location.pathname.replace("Details", "").replace("Manage", ""));

        if ('@Model.actionUser' == 'SEND_INVITE')
            includeFileScreenModalGeneral('CAMPEONATOS - @Model.type.Substring(0,3)', '@Model.titleView', 'Confirma o envio do e-mail convite com os seguintes dados:<br><br>Time: <b>||inputIN||</b><br>Técnico: <b>||inputOUT||</b>', 'ManageChampionshipDetails', 'SAVE_SEND_INVITE');
        else if ('@Model.actionUser' == 'MANAGER_SWAP' && '@Model.type.Substring(0,3)'=='DIV')
            includeFileScreenModalGeneral('CAMPEONATOS - @Model.type.Substring(0, 3)', 'Efetuar a Troca de Técnico', 'Confirma a troca de técnicos/managers com os seguintes dados:<br><br>Técnico/Manger Entrando: <b>||inputIN||</b><br>Técnico/Manger Saindo: <b>||inputOUT||</b>', 'ManageChampionshipDetails', 'SAVE_MANAGER_SWAP');
        else if ('@Model.actionUser' == 'MANAGER_SWAP' && '@Model.type.Substring(0,3)'=='FUT')
            includeFileScreenModalGeneral('CAMPEONATOS - @Model.type.Substring(0, 3)', 'Efetuar a Troca de Time & Técnico', 'Confirma a troca de técnicos/managers com os seguintes dados:<br><br>Técnico/Manger Entrando: <b>||inputIN||</b><br>Técnico/Manger Saindo: <b>||inputOUT||</b>', 'ManageChampionshipDetails', 'SAVE_MANAGER_SWAP');
        else if ('@Model.actionUser' == 'MANAGER_SWAP' && '@Model.type.Substring(0,3)'=='PRO')
            includeFileScreenModalGeneral('CAMPEONATOS - @Model.type.Substring(0, 3)', 'Efetuar a Troca de Clube & Manager', 'Confirma a troca de técnicos/managers com os seguintes dados:<br><br>Técnico/Manger Entrando: <b>||inputIN||</b><br>Técnico/Manger Saindo: <b>||inputOUT||</b>', 'ManageChampionshipDetails', 'SAVE_MANAGER_SWAP');
        else if ('@Model.actionUser' == 'CLUB_SWAP')
            includeFileScreenModalGeneral('CAMPEONATOS - @Model.type.Substring(0, 3)', 'Efetuar Troca de Manager do Clube', 'Confirma a troca de managers para os Campeonatos de PRO CLUB com os seguintes dados:<br><br>Manger Entrando: <b>||inputIN||</b><br>Manger Saindo: <b>||inputOUT||</b>', 'ManageChampionshipDetails', 'SAVE_CLUB_SWAP');

        $(".gentelella-btn-success").click(function () {
            if ($("#cmbInputIN").val() != "" && $("#cmbInputOUT").val() != "") {
                var inputIN = $("#cmbInputIN").val().split(";")[1] + " (" + $("#cmbInputIN").val().split(";")[2] + ")";
                var inputOUT = $("#cmbInputOUT").val().split(";")[1] + " (" + $("#cmbInputOUT").val().split(";")[2] + ")";
                $("#modalScreeenMsgQuestion").html($("#modalScreeenMsgQuestion").html().replace("||inputIN||", inputIN));
                $("#modalScreeenMsgQuestion").html($("#modalScreeenMsgQuestion").html().replace("||inputOUT||", inputOUT));
                $("#bs-message-general-modal-sm").modal();
            }
            else {
                $("#registration-form").submit();
            }
        });

        activateRegistrationForm("ManageChampionshipDetails", '@Model.actionUser');
    });

</script>
}

