@using ArenaFifa20.NET.Models
@model RankingViewModel
@{
    int i = 0;
}
<div class="gentelella-x_content">
    <p><code>Está ordenado por ordem da maior pontuação do Ranking da atual Temporada. </code></p>
    <br>
    <div class="gentelella-table-responsive">
        <table class="gentelella-table gentelella-table-striped gentelella-jambo_table bulk_action">
            <thead style="background-color:#2C3E4F">
                <tr class="gentelella-headings">
                    <th class="gentelella-column-title gentelella-a-center" width="5%"># </th>
                    <th class="gentelella-column-title" width="40%">Técnico </th>
                    <th class="gentelella-column-title" width="20%">PSN </th>
                    <th class="gentelella-column-title" width="20%">Treinando? </th>
                    <th class="gentelella-column-title gentelella-a-right" width="15%">Total Pontos  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listOfRanking)
                {
                    i++;
                    <tr class="gentelella-even gentelella-pointer" userID="@item.userID">
                        <td class="gentelella-a-center " style="vertical-align:middle">@i.ToString("00")º</td>
                        <td class=" " style="vertical-align:middle">@Html.DisplayFor(modelItem => item.userName)</td>
                        <td class=" " style="vertical-align:middle">@Html.DisplayFor(modelItem => item.psnID)</td>
                        <td class=" " style="vertical-align:middle">@Html.DisplayFor(modelItem => item.teamName)</td>
                        <td class="gentelella-a-right" style="vertical-align:middle">@Html.DisplayFor(modelItem => item.total)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
