@using ArenaFifa20.NET.Models
@model RankingSummaryViewModel
@{
    ViewBag.Title = "Ranking - Summary";
}


<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:50px">
    <div class="gentelella-page-title">
        <div class="gentelella-title_left">
            <h3>RANKING ARENA FIFA - PAINEL</h3>
        </div>
        <div class="gentelella-title_right">
            <div class="gentelella-col-md-5 gentelella-col-sm-5 gentelella-col-xs-12 gentelella-form-group gentelella-pull-right gentelella-top_search">
                <div class="gentelella-input-group">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="">
        <div class="gentelella-row gentelella-top_tiles">
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                    <div class="gentelella-count">@Model.totGoalsH2H gols</div>
                    <h3>H2H</h3>
                    <p>Todos os Campeonatos - @Model.seasonNameH2H</p>
                </div>
            </div>
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                    <div class="gentelella-count">@Model.totGoalsFUT gols</div>
                    <h3>FUT</h3>
                    <p>Todos os Campeonatos - @Model.seasonNameFUT</p>
                </div>
            </div>
            <div class="gentelella-animated gentelella-flipInY gentelella-col-lg-3 gentelella-col-md-3 gentelella-col-sm-6 gentelella-col-xs-12">
                <div class="gentelella-tile-stats">
                    <div class="gentelella-icon"><i class="gentelella-fa gentelella-fa-check-square-o"></i></div>
                    <div class="gentelella-count">@Model.totGoalsPRO gols</div>
                    <h3>PRO CLUB</h3>
                    <p>Todos os Campeonatos - @Model.seasonNamePRO</p>
                </div>
            </div>
        </div>

        <br><br>

        <div class="gentelella-row">
            <div class="gentelella-col-md-4">
                <div class="gentelella-x_panel">
                    <div class="gentelella-x_title">
                        <h2>Top 5 Goleadores - H2H</h2>
                        <div class="gentelella-clearfix"></div>
                    </div>
                    <div class="gentelella-x_content">
                        @foreach (var item in Model.listOfScorersH2H)
                        {
                            <article class="gentelella-media gentelella-event">
                                <a class="gentelella-pull-left gentelella-date">
                                    <p class="gentelella-day">@item.totalGoals</p>
                                    <p class="gentelella-month">Gols</p>
                                </a>
                                <div class="gentelella-media-body">
                                    <a class="gentelella-title bold-font" href="#">@item.playerName</a>
                                    <p>Time: @item.teamName <br /> Técnico: @item.psnID</p>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
            <div class="gentelella-col-md-4">
                <div class="gentelella-x_panel">
                    <div class="gentelella-x_title">
                        <h2>Top 5 Goleadores - PRO CLUB</h2>
                        <div class="gentelella-clearfix"></div>
                    </div>
                    <div class="gentelella-x_content">
                        @foreach (var item in Model.listOfScorersPRO)
                        {
                            <article class="gentelella-media gentelella-event">
                                <a class="gentelella-pull-left gentelella-date">
                                    <p class="gentelella-day">@item.totalGoals</p>
                                    <p class="gentelella-month">Gols</p>
                                </a>
                                <div class="gentelella-media-body">
                                    <a class="gentelella-title bold-font" href="#">@item.playerName</a>
                                    <p>Clube: @item.teamName <br /> Manager: @item.psnID</p>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /page content -->


@section Scripts {
    <script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
        });

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            if ('@ViewBag.inRenewNextSeason' == '1')
                $("#liRenewNextSeason").show();
            else
                $("#liRenewNextSeason").hide();
        });

    </script>
}

