@using ArenaFifa20.NET.Models
@model TeamDetailsModel
@{
    ViewBag.Title = "Moderator Menu - Team - Updated List Of Team Players";
    string nameImgCurrentFifa = HttpContext.Current.Application["fifa.codImgCurrent"].ToString() + ".jpg";

}


<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:20px">
    <div class="gentelella-page-title">
        <div class="gentelella-title">
            <h3>CADASTRO DE TIMES - LISTA ATUALIZADA DE JOGADORES</h3>
        </div>
    </div>
    <br>
    @using (Html.BeginForm("Details", "Moderator", FormMethod.Post, new { @class = "form-horizontal", id = "registration-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
            <div class="gentelella-x_panel">
                <div class="gentelella-x_content">


                    <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
                        <div class="gentelella-x_panel">
                            <div class="gentelella-x_content">

                                <div class="gentelella-col-md-10 gentelella-col-sm-10 gentelella-col-xs-12">
                                </div>
                                <div id="waiting" class="gentelella-col-md-2 gentelella-col-sm-2 gentelella-col-xs-12 gentelella-a-center">
                                    Aguarde o processamento...<br />
                                    <img width="70" heigh="70" src="/Arena20/images/aguarde.gif" />
                                </div>
                                <br>
                                <div class="gentelella-row ">
                                    <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12 gentelella-a-right">
                                        <img src="/Arena20/images/logo-H2H-white.jpg" width="70" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <img src="/Arena20/images/@nameImgCurrentFifa" width="70" />
                                    </div>
                                </div>
                                <br />
                                <div class="gentelella-row ">
                                    <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12 gentelella-a-center">
                                        <h3><img src="@Model.pathLogo" width="60">&nbsp;&nbsp;&nbsp;@Model.name</h3>
                                    </div>
                                </div>
                                <table id="datatable-responsive" class="gentelella-table gentelella-table-striped gentelella-table-bordered gentelella-dt-responsive gentelella-nowrap" cellspacing="0" width="100%">
                                    <thead style="background-color:#2C3E4F;color:white">
                                        <tr>
                                            <th width="8%" class="gentelella-a-center">#</th>
                                            <th width="12%" class="gentelella-a-center">Sofifa ID</th>
                                            <th width="20%">Nome Abreviado</th>
                                            <th width="25%">Nome Completo</th>
                                            <th width="15%">Time</th>
                                            <th width="15%">País</th>
                                            <th width="5%" class="gentelella-a-center">Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.listOfScorer)
                                        {
                                            <tr>
                                                <td class="gentelella-a-right">@item.id</td>
                                                <td class="gentelella-a-right">@item.sofifaTeamID</td>
                                                <td>@item.nickname</td>
                                                <td>@item.name</td>
                                                <td>@item.teamName</td>
                                                <td>@item.country</td>
                                                <td class="gentelella-a-center">@item.rating</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <br>

                                <div class="gentelella-form-group gentelella-a-right">
                                    <div class="gentelella-col-md-12 gentelella-col-sm-12 gentelella-col-xs-12">
                                        <div class="gentelella-ln_solid"></div>
                                        <input type="button" class="gentelella-btn gentelella-btn-primary" onClick="JAVASCRIPT: submeteModerator('Team', '', '');" value="Voltar" />
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    }
</div>
<!-- /page content -->

@section Scripts {
    <script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
        });

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            if ('@TempData["actionSuccessfully"]' != '')
                toastr.success('@TempData["actionSuccessfully"].');

            if (detectMobileDevice() == 0)
                activeSidebarMenu(window.location.pathname.replace("UpdateTeamPlayersList", "Team"));

            $("#waiting").hide();
        });

    </script>
}

